# Etapa 1 (TASK 1)

A continuación se muestran las librerias usadas en esta primera parte del proyecto

In [6]:
import os
from openpyxl import load_workbook
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re   # regular expressions
import string    
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from nltk.corpus import wordnet
from itertools import chain

C:\Users\fannb\Anaconda2022\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Carga de los datos

In [7]:
# loading and explore the data from the provided excel file
import os
wd = os.getcwd()
os.listdir(wd)

['.ipynb_checkpoints',
 'ColF and ColD TASK1_analysis.xlsx',
 'ColF and ColD_LancasterStem.xlsx',
 'ColF and ColD_PorterStem.xlsx',
 'ColF_ColD_TASK1.xlsx',
 'ColF_ColD_TASK1_clean.xlsx',
 'ColumnE_NACE_clean.xlsx',
 'ColumnF_LancasterStem.xlsx',
 'ColumnF_PorterStem.xlsx',
 'ColumnF_TASK1.xlsx',
 'ColumnF_TASK1_clean.xlsx',
 'Comercialización de estudios de mercado .xlsx',
 'Data_IAB.xlsx',
 'Data_IAB_clean.xlsx',
 'Data_NACE.xlsx',
 'Data_NACE_clean.xlsx',
 'First_match.xlsx',
 'IAB_LancasterStem.xlsx',
 'IAB_PorterStem.xlsx',
 'Proyecto de Comercializacion-Copy1.ipynb',
 'Proyecto de Comercializacion.ipynb',
 'Scripts for TASK2.ipynb',
 'Scripts for Task3.ipynb',
 'Second_TASK2_analysis.xlsx',
 'Subcategories_table.xlsx',
 'TASK1.xlsx',
 'TASK1_analysis.xlsx',
 'TASK1_clean.xlsx',
 'TASK1_LancasterStem.xlsx',
 'TASK1_PorterStem.xlsx',
 'TASK2_analysis.xlsx',
 'Task3.xlsx',
 'Workbook_Estudios_Mercado.xlsx',
 'Workbook_Estudios_Mercado_TASK1matched.xlsx',
 'Workbook_Estudios_Mercado_TASK2matched_forAnalysis.xlsx',
 'Workbook_Estudios_Mercado_with_match_results.xlsx']

Ahora voy a importar las librerias para manejo de excel en Python

In [7]:
'''
# how to create a simple spreadshet

from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "World!"

workbook.save(filename="hello_world.xlsx")
'''

'\n# how to create a simple spreadshet\n\nfrom openpyxl import Workbook\n\nworkbook = Workbook()\nsheet = workbook.active\n\nsheet["A1"] = "hello"\nsheet["B1"] = "World!"\n\nworkbook.save(filename="hello_world.xlsx")\n'

In [8]:
# to read excel file

from openpyxl import load_workbook

wb = load_workbook(filename= 'Workbook_Estudios_Mercado.xlsx')

C:\Users\fannb\Anaconda2022\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [9]:
# to show the sheetnames
print(wb.sheetnames)

['TASK1', 'TASK2', 'TASK3', 'Models', 'IAB', 'NACE_REV2']

In [10]:
# create variables for TASK1 sheet, IAB and NACE sheets
sh = wb['TASK1']
sh_IAB = wb['IAB']
sh_NACE = wb['NACE_REV2']
sh, sh_IAB, sh_NACE

(<Worksheet "TASK1">, <Worksheet "IAB">, <Worksheet "NACE_REV2">)

In [11]:
type(sh)

openpyxl.worksheet.worksheet.Worksheet

I will create a dataset that stores the **IAB_codes** with the original text, the preprocessed text, and stemming texts.

In [12]:
import pandas as pd
import numpy as np

file_loc = 'Workbook_Estudios_Mercado.xlsx'
IAB_codes = pd.read_excel(file_loc, sheet_name= 'IAB', index_col=None, na_values = ['NA'], usecols=('A,B'))

IAB_codes.head()

                Name Unique ID
0         Automotive          1
1   Auto Body Styles          2
2  Commercial Trucks          3
3              Sedan          4
4      Station Wagon          5

### Basic functions to access cells

In [13]:
# main cell object
sh['A1']

In [14]:
# to get the position of certain row and column
sh.cell(row=3, column=4)

In [15]:
# how to read a cell
sh['A1'].value

'isic_section'

In [16]:
# to get the value of a certain row and column
sh.cell(row=3, column=4).value

'Crop and animal production, hunting and related service activities'

In [17]:
# max number of rows in sheet
sh.max_row, sh_IAB.max_row

(145, 692)

## Data preprocessing

### stopwords

In [23]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

In [24]:
# mostrar las palabras del stopwords
print(stop_words)

{'do', 'be', 'into', 'had', 'any', 'o', 'all', 'we', 'between', 'once', 'not', "hadn't", 'does', 'these', 'd', 'been', 'yourselves', 'herself', "you've", 'from', 'why', 'll', 'other', 'me', 'only', "doesn't", 'or', 'ma', 'shouldn', 'a', 'they', 'itself', "couldn't", 'here', 'hadn', 'further', 'no', 'those', 'out', "she's", 'but', 's', 'couldn', "shan't", 'if', 'too', "should've", 'doing', 'as', 'than', 'how', 'can', 'just', "you'd", 'don', "aren't", 'after', 'of', 'our', 'very', 'there', 'mightn', 'himself', 'on', 'i', 'and', 'm', 'so', 'what', 'is', 'shan', 'nor', 'because', 'aren', 'am', 'over', 'its', 'under', 'whom', 'during', 'such', 'hers', 'his', 'in', 'was', 'hasn', 'will', 'more', 'at', 'them', 'when', 'by', 'same', "haven't", "that'll", 'weren', 'most', 'to', 'again', 'wouldn', 'that', 'until', 'are', "wouldn't", 've', 'didn', 'against', 'this', 'down', 'both', 'while', 'were', 'did', 'theirs', 'should', 'doesn', 'off', "wasn't", "won't", 'her', 'up', 'now', 'about', 'y', "mustn't", 'own', "don't", 'needn', "didn't", 'you', 'has', 'have', 'an', 'for', 'haven', 'who', 'the', 'having', 't', "hasn't", 'where', 'your', "mightn't", 'themselves', "you'll", "isn't", "you're", 'yourself', "weren't", "needn't", 'my', 'he', 'ain', 'before', 'yours', 'some', 'being', 'isn', 'ourselves', 'through', 're', 'it', "shouldn't", 'him', "it's", 'ours', 'above', 'with', 'wasn', 'then', 'each', 'myself', 'which', 'mustn', 'she', 'won', 'their', 'few', 'below'}

In [25]:
import re   # regular expressions
import string

### working on TASK1 sheet

The following function was create just to extract the words of the column F for the initial analysis

In [26]:
def extract_words_single(row):
    # Extract strings from colums F(sk)
    cF = sh['F' + str(row)].value
    # convert all elements lower case
    cF = cF.lower()
    # remove punctuation and remove words containing numbers
    cF = re.sub('[%s]' % re.escape(string.punctuation), ' ', cF)
    # alfanumerico * times digits
    cF = re.sub('\w*\d\w*', ' ', cF)
    # remove duplicates and word separation
    res = []
    [res.append(x) for x in cF.split() if x not in res]
    return res

In [27]:
import pandas as pd

In [28]:
data_cF = pd.DataFrame()
for i in range (2, sh.max_row + 1):
    data_cF = data_cF.append ({'Column F' : extract_words_single(i)}, ignore_index= True)
    data_cF.to_excel('ColumnF_TASK1.xlsx', sheet_name = 'test', index= False, freeze_panes=(1,1))

**data_cF** is a dataframe which contains only the column F. Planning to use it for a first matching.
Also an excel document **ColumnF_TASK1.xlsx** has been saved

In [29]:
data_cF.head(20)

                                        Column F
0                                      [farming]
1                                     [ranching]
2                                        [dairy]
3                                      [fishery]
4                               [mining, metals]
5                                  [oil, energy]
6                          [defense, and, space]
7                              [pharmaceuticals]
8                             [food, production]
9                     [aviation, and, aerospace]
10                                  [automotive]
11                                   [chemicals]
12                                   [machinery]
13                                [shipbuilding]
14                                    [textiles]
15                     [paper, forest, products]
16                       [railroad, manufacture]
17                                    [printing]
18  [electrical, and, electronic, manufacturing]
19                                    [plastics]

In [30]:
type(data_cF)

pandas.core.frame.DataFrame

I need to remove the stopwords from the previous dataframe.
The new data_clean does not contain the stop_words list.
Not expecting a difference because are isolated words.

In [31]:
# it works but I still want to keep tokens inside   
#data['clean_title'] = data['Full_text_TASK1'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))   
data_cF_clean = data_cF['Column F'].apply(lambda x: [item for item in x if item not in stop_words])

In [32]:
type(data_cF_clean)  #pandas.core.series.Series
data_cF_clean.head(20)

0                                   [farming]
1                                  [ranching]
2                                     [dairy]
3                                   [fishery]
4                            [mining, metals]
5                               [oil, energy]
6                            [defense, space]
7                           [pharmaceuticals]
8                          [food, production]
9                       [aviation, aerospace]
10                               [automotive]
11                                [chemicals]
12                                [machinery]
13                             [shipbuilding]
14                                 [textiles]
15                  [paper, forest, products]
16                    [railroad, manufacture]
17                                 [printing]
18    [electrical, electronic, manufacturing]
19                                 [plastics]
Name: Column F, dtype: object

to eliminate the ' ' in each element of the serie

In [33]:
data_cF_clean2 =[' '.join(tup) for tup in data_cF_clean]
data_cF_list = data_cF_clean2  # for using later in stemming
data_cF_clean2  # a list

['farming',
 'ranching',
 'dairy',
 'fishery',
 'mining metals',
 'oil energy',
 'defense space',
 'pharmaceuticals',
 'food production',
 'aviation aerospace',
 'automotive',
 'chemicals',
 'machinery',
 'shipbuilding',
 'textiles',
 'paper forest products',
 'railroad manufacture',
 'printing',
 'electrical electronic manufacturing',
 'plastics',
 'renewables environment',
 'glass ceramics concrete',
 'packaging containers',
 'industrial automation',
 'utilities',
 'construction',
 'building materials',
 'civil engineering',
 'cosmetics',
 'apparel fashion',
 'sporting goods',
 'tobacco',
 'supermarkets',
 'consumer electronics',
 'consumer goods',
 'furniture',
 'retail',
 'food beverages',
 'consumer services',
 'wholesale',
 'wine spirits',
 'luxury goods jewelry',
 'package freight delivery',
 'transportation trucking railroad',
 'warehousing',
 'airlines aviation',
 'maritime',
 'logistics supply chain',
 'import export',
 'hospitality',
 'restaurants',
 'computer hardware',
 'computer software',
 'computer networking',
 'internet',
 'semiconductors',
 'telecommunications',
 'motion pictures film',
 'broadcast media',
 'newspapers',
 'publishing',
 'information technology services',
 'writing editing',
 'computer games',
 'online media',
 'computer network security',
 'wireless',
 'media production',
 'banking',
 'insurance',
 'financial services',
 'investment banking',
 'investment management',
 'venture capital private equity',
 'capital markets',
 'real estate',
 'commercial real estate',
 'law practice',
 'legal services',
 'management consulting',
 'biotechnology',
 'veterinary',
 'accounting',
 'architecture planning',
 'research',
 'executive office',
 'marketing advertising',
 'information services',
 'environmental services',
 'market research',
 'public relations communications',
 'design',
 'professional training coaching',
 'translation localization',
 'events services',
 'nanotechnology',
 'alternative dispute resolution',
 'outsourcing offshoring',
 'mechanical industrial engineering',
 'photography',
 'graphic design',
 'leisure travel tourism',
 'recreational facilities services',
 'fundraising',
 'staffing recruiting',
 'security investigations',
 'facilities services',
 'human resources',
 'business supplies equipment',
 'military',
 'legislative office',
 'judiciary',
 'international affairs',
 'government administration',
 'law enforcement',
 'public safety',
 'public policy',
 'political organization',
 'government relations',
 'primary secondary education',
 'higher education',
 'education management',
 'e learning',
 'medical practice',
 'hospital health care',
 'medical device',
 'alternative medicine',
 'mental health care',
 'entertainment',
 'gambling casinos',
 'sports',
 'museums institutions',
 'fine art',
 'performing arts',
 'libraries',
 'arts crafts',
 'music',
 'health wellness fitness',
 'animation',
 'individual family services',
 'religious institutions',
 'civic social organization',
 'non profit organization management',
 'international trade development']

In [34]:
data_cF_clean2 = pd.DataFrame(data_cF_clean2, columns = ['Column F'])
data_cF_clean2.head()

        Column F
0        farming
1       ranching
2          dairy
3        fishery
4  mining metals

In [35]:
data_cF_clean2.to_excel('ColumnF_TASK1_clean.xlsx', sheet_name = 'Column F', index= False, freeze_panes=(1,1))

Another function to extract the column F y D from TASK1 tab (this is for evaluating other case, and to try to get a better match).

In [36]:
def extract_words_partial(row):
    # Extract strings from colums D(NACE),F(sk)
    cD = sh['D' + str(row)].value
    cF = sh['F' + str(row)].value
    # I will keep the column F at the beginning of the list
    c_full_text = ' '.join([cF, cD])
    # convert all elements lower case
    c_full_text = c_full_text.lower()
    # remove punctuation and remove words containing numbers
    c_full_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', c_full_text)
    # alfanumerico * times digits
    c_full_text = re.sub('\w*\d\w*', ' ', c_full_text)
    # remove duplicates and word separation
    res = []
    [res.append(x) for x in c_full_text.split() if x not in res]
    return res

In [37]:
data_cF_cD = pd.DataFrame()
for i in range (2, sh.max_row + 1):
    data_cF_cD = data_cF_cD.append ({'ColF ColD' : extract_words_partial(i)}, ignore_index= True)
    data_cF_cD.to_excel('ColF_ColD_TASK1.xlsx', sheet_name = 'ColF ColD', index= False, freeze_panes=(1,1))

In [38]:
data_cF_cD.head(5)

                                           ColF ColD
0  [farming, crop, and, animal, production, hunti...
1  [ranching, crop, and, animal, production, hunt...
2  [dairy, crop, and, animal, production, hunting...
3               [fishery, fishing, and, aquaculture]
4           [mining, metals, of, coal, and, lignite]

In [39]:
type(data_cF_cD)

pandas.core.frame.DataFrame

In [40]:
# it works but I still want to keep tokens inside   
#data['clean_title'] = data['Full_text_TASK1'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))   
data_cF_cD_clean = data_cF_cD['ColF ColD'].apply(lambda x: [item for item in x if item not in stop_words])

In [41]:
type(data_cF_cD_clean)  #pandas.core.series.Series
data_cF_cD_clean.head(5)

0    [farming, crop, animal, production, hunting, r...
1    [ranching, crop, animal, production, hunting, ...
2    [dairy, crop, animal, production, hunting, rel...
3                      [fishery, fishing, aquaculture]
4                      [mining, metals, coal, lignite]
Name: ColF ColD, dtype: object

In [42]:
data_cF_cD_clean2 =[' '.join(tup) for tup in data_cF_cD_clean]
data_cF_cD_list = data_cF_cD_clean2  # for using later in stemming
data_cF_cD_clean2  # a list

['farming crop animal production hunting related service activities',
 'ranching crop animal production hunting related service activities',
 'dairy crop animal production hunting related service activities',
 'fishery fishing aquaculture',
 'mining metals coal lignite',
 'oil energy extraction crude petroleum natural gas',
 'defense space manufacture fabricated metal products except machinery equip',
 'pharmaceuticals manufacture medicinal chemical botanical products',
 'food production manufacture products',
 'aviation aerospace manufacture transport equipment',
 'automotive manufacture motor vehicles trailers semi',
 'chemicals manufacture chemical products',
 'machinery manufacture equipment n e c',
 'shipbuilding manufacture transport equipment',
 'textiles manufacture',
 'paper forest products manufacture',
 'railroad manufacture transport equipment',
 'printing reproduction recorded media',
 'electrical electronic manufacturing manufacture computer optical products',
 'plastics manufacture rubber products',
 'renewables environment manufacturing',
 'glass ceramics concrete manufacturing',
 'packaging containers manufacturing',
 'industrial automation manufacturing',
 'utilities electricity gas steam air conditioning supply',
 'construction buildings',
 'building materials mapped',
 'civil engineering',
 'cosmetics retail trade except motor vehicles motorcycles',
 'apparel fashion retail trade except motor vehicles motorcycles',
 'sporting goods retail trade except motor vehicles motorcycles',
 'tobacco retail trade except motor vehicles motorcycles',
 'supermarkets retail trade except motor vehicles motorcycles',
 'consumer electronics retail trade except motor vehicles motorcycles',
 'consumer goods retail trade except motor vehicles motorcycles',
 'furniture retail trade except motor vehicles motorcycles',
 'retail trade except motor vehicles motorcycles',
 'food beverages retail trade except motor vehicles motorcycles',
 'consumer services retail trade except motor vehicles motorcycles',
 'wholesale trade except motor vehicles motorcycles',
 'wine spirits retail trade except motor vehicles motorcycles',
 'luxury goods jewelry retail trade except motor vehicles motorcycles',
 'package freight delivery postal courier activities',
 'transportation trucking railroad land transport via pipelines',
 'warehousing support activities transportation',
 'airlines aviation air transport',
 'maritime water transport',
 'logistics supply chain warehousing support activities transportation',
 'import export warehousing support activities transportation',
 'hospitality accommodation',
 'restaurants food services activities',
 'computer hardware programming consultancy related activities',
 'computer software programming consultancy related activities',
 'computer networking programming consultancy related activities',
 'internet telecommunications',
 'semiconductors computer programming consultancy related activities',
 'telecommunications',
 'motion pictures film picture video television programme production sound recording',
 'broadcast media programming broadcasting activities',
 'newspapers publishing activities',
 'publishing activities',
 'information technology services service activities',
 'writing editing publishing activities',
 'computer games publishing activities',
 'online media information service activities',
 'computer network security programming consultancy related activities',
 'wireless computer programming consultancy related activities',
 'media production motion picture video television programme sound recording',
 'banking financial service activities except insurance pension funding',
 'insurance reinsurance pension funding except compulsory social',
 'financial services service activities except insurance pension funding',
 'investment banking financial service activities except insurance pension funding',
 'investment management financial service activities except insurance pension funding',
 'venture capital private equity financial service activities except insurance pension funding',
 'capital markets activities auxiliary financial service insurance',
 'real estate activities',
 'commercial real estate activities',
 'law practice legal accounting activities',
 'legal services accounting activities',
 'management consulting activities head offices consultancy',
 'biotechnology scientific research development',
 'veterinary activities',
 'accounting legal activities',
 'architecture planning architectural engineering activities technical testing analysis',
 'research scientific development',
 'executive office activities head offices management consultancy',
 'marketing advertising market research',
 'information services activities head offices management consultancy',
 'environmental services professional scientific technical activities',
 'market research advertising',
 'public relations communications activities head offices management consultancy',
 'design professional scientific technical activities',
 'professional training coaching scientific technical activities',
 'translation localization professional scientific technical activities',
 'events services professional scientific technical activities',
 'nanotechnology scientific research development',
 'alternative dispute resolution legal accounting activities',
 'outsourcing offshoring professional scientific technical activities',
 'mechanical industrial engineering scientific research development',
 'photography professional scientific technical activities',
 'graphic design professional scientific technical activities',
 'leisure travel tourism agency tour operator reservation service related activities',
 'recreational facilities services buildings landscape activities',
 'fundraising office administrative support business activities',
 'staffing recruiting employment activities',
 'security investigations investigation activities',
 'facilities services buildings landscape activities',
 'human resources employment activities',
 'business supplies equipment office administrative support activities',
 'military public administration defence compulsory social security',
 'legislative office public administration defence compulsory social security',
 'judiciary public administration defence compulsory social security',
 'international affairs public administration defence compulsory social security',
 'government administration public defence compulsory social security',
 'law enforcement public administration defence compulsory social security',
 'public safety administration defence compulsory social security',
 'public policy administration defence compulsory social security',
 'political organization public administration defence compulsory social security',
 'government relations public administration defence compulsory social security',
 'primary secondary education',
 'higher education',
 'education management',
 'e learning education',
 'medical practice human health activities',
 'hospital health care human activities',
 'medical device human health activities',
 'alternative medicine human health activities',
 'mental health care human activities',
 'entertainment creative arts activities',
 'gambling casinos betting activities',
 'sports activities amusement recreation',
 'museums institutions libraries archives cultural activities',
 'fine art creative arts entertainment activities',
 'performing arts creative entertainment activities',
 'libraries archives museums cultural activities',
 'arts crafts creative entertainment activities',
 'music creative arts entertainment activities',
 'health wellness fitness sports activities amusement recreation',
 'animation creative arts entertainment activities',
 'individual family services personal service activities',
 'religious institutions activities professional membership organizations',
 'civic social organization activities professional membership organizations',
 'non profit organization management activities professional membership organizations',
 'international trade development activities professional membership organizations']

In [43]:
data_cF_cD_clean2 = pd.DataFrame(data_cF_cD_clean2, columns = ['ColF ColD'])
data_cF_cD_clean2.head()

                                           ColF ColD
0  farming crop animal production hunting related...
1  ranching crop animal production hunting relate...
2  dairy crop animal production hunting related s...
3                        fishery fishing aquaculture
4                         mining metals coal lignite

In [44]:
type(data_cF_cD)

pandas.core.frame.DataFrame

In [45]:
data_cF_cD_clean2.to_excel('ColF_ColD_TASK1_clean.xlsx', sheet_name = 'ColF and ColD', index= False, freeze_panes=(1,1))

The following function will add some columns into list. All the words will be converted to lower case, the punctuation and numbers and duplicates will be removed. Finally the list will be tokenized/split.

In [56]:
def extract_words(row):
    # Extract strings from colums B(isic),D(NACE),F(sk),H(sk,gral group)
    cB = sh['B' + str(row)].value
    cD = sh['D' + str(row)].value
    cF = sh['F' + str(row)].value
    cH = sh['H' + str(row)].value
    # I will keep the column F at the beginning of the list
    c_full_text = ' '.join([cF, cH, cB, cD])
    # convert all elements lower case
    c_full_text = c_full_text.lower()
    # remove punctuation and remove words containing numbers
    c_full_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', c_full_text)
    # alfanumerico * times digits 
    c_full_text = re.sub('\w*\d\w*', ' ', c_full_text)
    # remove duplicates and word separation
    res = []
    [res.append(x) for x in c_full_text.split() if x not in res]
    return res

data is a dataframe which contains each line of words of TASK. The range goes from line 2 (line 1 is a header) to the max amount of rows +1.
Inside the for the extract_words function is called.
An excel file with the TASK1.xlsx is created with only one sheet name.

In [57]:
data = pd.DataFrame()
for i in range (2, sh.max_row + 1):
    data = data.append ({'Full_text_TASK1' : extract_words(i)}, ignore_index= True)
    data.to_excel('TASK1.xlsx', sheet_name = 'test', index= False, freeze_panes=(1,1))

In [58]:
# to display with the max colwidth the following tables
pd.set_option('display.max_colwidth', None)

In [59]:
data # pandas DataFrame

                                                                                                                     Full_text_TASK1
0                 [farming, agriculture, a, forestry, and, fishing, crop, animal, production, hunting, related, service, activities]
1                [ranching, agriculture, a, forestry, and, fishing, crop, animal, production, hunting, related, service, activities]
2                   [dairy, agriculture, a, forestry, and, fishing, crop, animal, production, hunting, related, service, activities]
3                                                                     [fishery, agriculture, a, forestry, and, fishing, aquaculture]
4                                                                     [mining, metals, energy, and, b, quarrying, of, coal, lignite]
..                                                                                                                               ...
139                                          [individual, and, family, services, nonprofit, s, other, service, activities, personal]
140                 [religious, institutions, nonprofit, s, other, service, activities, of, professional, membership, organizations]
141             [civic, social, organization, nonprofit, s, other, service, activities, of, professional, membership, organizations]
142   [non, profit, organization, management, nonprofit, s, other, service, activities, of, professional, membership, organizations]
143  [international, trade, and, development, nonprofit, s, other, service, activities, of, professional, membership, organizations]

[144 rows x 1 columns]

In [60]:
data.head(5)

                                                                                                       Full_text_TASK1
0   [farming, agriculture, a, forestry, and, fishing, crop, animal, production, hunting, related, service, activities]
1  [ranching, agriculture, a, forestry, and, fishing, crop, animal, production, hunting, related, service, activities]
2     [dairy, agriculture, a, forestry, and, fishing, crop, animal, production, hunting, related, service, activities]
3                                                       [fishery, agriculture, a, forestry, and, fishing, aquaculture]
4                                                       [mining, metals, energy, and, b, quarrying, of, coal, lignite]

In [61]:
type(data)

pandas.core.frame.DataFrame

In [62]:
# visualize the key data 
next(iter(data.keys()))

'Full_text_TASK1'

I need to remove the stopwords from the previous dataframe.
The new data_clean does not contain the stop_words list

In [63]:
# it works but I still want to keep tokens inside   
#data['clean_title'] = data['Full_text_TASK1'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))   
data_clean = data['Full_text_TASK1'].apply(lambda x: [item for item in x if item not in stop_words])

In [64]:
data_clean.head(5) # series

0     [farming, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]
1    [ranching, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]
2       [dairy, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]
3                                                         [fishery, agriculture, forestry, fishing, aquaculture]
4                                                          [mining, metals, energy, b, quarrying, coal, lignite]
Name: Full_text_TASK1, dtype: object

In [65]:
type(data_clean)

pandas.core.series.Series

I will concatenate the word to create a single string for each row

Not sure why this my **data is a data frame** and **my data_clean is a serie** ? Is it important to fixed?**

However, I figured out later that I can create a dataframe of the same data_clean. Example below **data_clean2**.

In [66]:
data_clean2 =[' '.join(tup) for tup in data_clean]
data_clean2

['farming agriculture forestry fishing crop animal production hunting related service activities',
 'ranching agriculture forestry fishing crop animal production hunting related service activities',
 'dairy agriculture forestry fishing crop animal production hunting related service activities',
 'fishery agriculture forestry fishing aquaculture',
 'mining metals energy b quarrying coal lignite',
 'oil energy mining b quarrying extraction crude petroleum natural gas',
 'defense space manufacturing c manufacture fabricated metal products except machinery equip',
 'pharmaceuticals healthcare c manufacturing manufacture medicinal chemical botanical products',
 'food production manufacturing c manufacture products',
 'aviation aerospace manufacturing c manufacture transport equipment',
 'automotive manufacturing c manufacture motor vehicles trailers semi',
 'chemicals manufacturing c manufacture chemical products',
 'machinery manufacturing c manufacture equipment n e',
 'shipbuilding manufacturing c manufacture transport equipment',
 'textiles manufacturing c manufacture',
 'paper forest products manufacturing c manufacture',
 'railroad manufacture manufacturing c transport equipment',
 'printing media communications c manufacturing reproduction recorded',
 'electrical electronic manufacturing c manufacture computer optical products',
 'plastics manufacturing c manufacture rubber products',
 'renewables environment manufacturing c',
 'glass ceramics concrete manufacturing c',
 'packaging containers manufacturing c',
 'industrial automation manufacturing c',
 'utilities energy mining electricity gas steam air conditioning supply',
 'construction f buildings',
 'building materials construction f mapped',
 'civil engineering construction f',
 'cosmetics consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'apparel fashion consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'sporting goods consumer g wholesale retail trade repair motor vehicles motorcycles except',
 'tobacco consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'supermarkets retail g wholesale trade repair motor vehicles motorcycles except',
 'consumer electronics goods g wholesale retail trade repair motor vehicles motorcycles except',
 'consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'furniture consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'retail g wholesale trade repair motor vehicles motorcycles except',
 'food beverages consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'consumer services goods g wholesale retail trade repair motor vehicles motorcycles except',
 'wholesale retail g trade repair motor vehicles motorcycles except',
 'wine spirits consumer goods g wholesale retail trade repair motor vehicles motorcycles except',
 'luxury goods jewelry consumer g wholesale retail trade repair motor vehicles motorcycles except',
 'package freight delivery transportation logistics h storage postal courier activities',
 'transportation trucking railroad logistics h storage land transport via pipelines',
 'warehousing transportation logistics h storage support activities',
 'airlines aviation recreation travel h transportation storage air transport',
 'maritime transportation logistics h storage water transport',
 'logistics supply chain transportation h storage warehousing support activities',
 'import export transportation logistics h storage warehousing support activities',
 'hospitality recreation travel accommodation food service activities',
 'restaurants recreation travel accommodation food service activities services',
 'computer hardware netwoking j information communication programming consultancy related activities',
 'computer software services j information communication programming consultancy related activities',
 'computer networking hardware netwoking j information communication programming consultancy related activities',
 'internet software services j information communication telecommunications',
 'semiconductors hardware netwoking j information communication computer programming consultancy related activities',
 'telecommunications hardware netwoking j information communication',
 'motion pictures film entertainment j information communication picture video television programme production sound recording',
 'broadcast media entertainment j information communication programming broadcasting activities',
 'newspapers media communications j information communication publishing activities',
 'publishing media communications j information communication activities',
 'information technology services software j communication service activities',
 'writing editing media communications j information communication publishing activities',
 'computer games entertainment j information communication publishing activities',
 'online media communications j information communication service activities',
 'computer network security software services j information communication programming consultancy related activities',
 'wireless hardware netwoking j information communication computer programming consultancy related activities',
 'media production entertainment j information communication motion picture video television programme sound recording',
 'banking finance k financial insurance activities service except pension funding',
 'insurance finance k financial activities reinsurance pension funding except compulsory social',
 'financial services finance k insurance activities service except pension funding',
 'investment banking finance k financial insurance activities service except pension funding',
 'investment management finance k financial insurance activities service except pension funding',
 'venture capital private equity finance k financial insurance activities service except pension funding',
 'capital markets finance k financial insurance activities auxiliary service',
 'real estate l activities',
 'commercial real estate l activities',
 'law practice legal professional scientific technical activities accounting',
 'legal services professional scientific technical activities accounting',
 'management consulting corporate services professional scientific technical activities head offices consultancy',
 'biotechnology healthcare professional scientific technical activities research development',
 'veterinary healthcare professional scientific technical activities',
 'accounting corporate services professional scientific technical activities legal',
 'architecture planning design professional scientific technical activities architectural engineering testing analysis',
 'research education professional scientific technical activities development',
 'executive office corporate services professional scientific technical activities head offices management consultancy',
 'marketing advertising media communications professional scientific technical activities market research',
 'information services corporate professional scientific technical activities head offices management consultancy',
 'environmental services corporate professional scientific technical activities',
 'market research media communications professional scientific technical activities advertising',
 'public relations communications media professional scientific technical activities head offices management consultancy',
 'design professional scientific technical activities',
 'professional training coaching corporate services scientific technical activities',
 'translation localization media communications professional scientific technical activities',
 'events services corporate professional scientific technical activities',
 'nanotechnology hardware networking professional scientific technical activities research development',
 'alternative dispute resolution legal professional scientific technical activities accounting',
 'outsourcing offshoring corporate services professional scientific technical activities',
 'mechanical industrial engineering manufacturing professional scientific technical activities research development',
 'photography art professional scientific technical activities',
 'graphic design professional scientific technical activities',
 'leisure travel tourism recreation n administrative support service activities agency tour operator reservation related',
 'recreational facilities services recreation travel n administrative support service activities buildings landscape',
 'fundraising nonprofit n administrative support service activities office business',
 'staffing recruiting corporate services n administrative support service activities employment',
 'security investigations corporate services n administrative support service activities investigation',
 'facilities services corporate n administrative support service activities buildings landscape',
 'human resources corporate services n administrative support service activities employment',
 'business supplies equipment corporate services n administrative support service activities office',
 'military public safety administration defence compulsory social security',
 'legislative office public administration defence compulsory social security',
 'judiciary public administration defence compulsory social security',
 'international affairs public administration defence compulsory social security',
 'government administration public defence compulsory social security',
 'law enforcement public safety administration defence compulsory social security',
 'public safety administration defence compulsory social security',
 'public policy administration defence compulsory social security',
 'political organization public administration defence compulsory social security',
 'government relations public administration defence compulsory social security',
 'primary secondary education p',
 'higher education p',
 'education management p',
 'e learning education p',
 'medical practice healthcare q human health social work activities',
 'hospital health care healthcare q human social work activities',
 'medical device healthcare q human health social work activities',
 'alternative medicine wellness fitness q human health social work activities',
 'mental health care healthcare q human social work activities',
 'entertainment r arts recreation creative activities',
 'gambling casinos recreation travel r arts entertainment betting activities',
 'sports recreation travel r arts entertainment activities amusement',
 'museums institutions nonprofit r arts entertainment recreation libraries archives cultural activities',
 'fine art r arts entertainment recreation creative activities',
 'performing arts art r entertainment recreation creative activities',
 'libraries nonprofit r arts entertainment recreation archives museums cultural activities',
 'arts crafts art r entertainment recreation creative activities',
 'music entertainment r arts recreation creative activities',
 'health wellness fitness r arts entertainment recreation sports activities amusement',
 'animation entertainment r arts recreation creative activities',
 'individual family services nonprofit service activities personal',
 'religious institutions nonprofit service activities professional membership organizations',
 'civic social organization nonprofit service activities professional membership organizations',
 'non profit organization management nonprofit service activities professional membership organizations',
 'international trade development nonprofit service activities professional membership organizations']

In [67]:
type(data_clean2) # it is a list

list

now I will create a dataframe again

In [68]:
data_clean2 = pd.DataFrame(data_clean2, columns = ['Full_text_TASK1'])
data_clean2.head(5)

                                                                                   Full_text_TASK1
0   farming agriculture forestry fishing crop animal production hunting related service activities
1  ranching agriculture forestry fishing crop animal production hunting related service activities
2     dairy agriculture forestry fishing crop animal production hunting related service activities
3                                                 fishery agriculture forestry fishing aquaculture
4                                                    mining metals energy b quarrying coal lignite

Save data_clean as TASK1_clean.xlsx

In [69]:
data_clean2.to_excel('TASK1_clean.xlsx', sheet_name = 'Full_text_TASK1', index= False, freeze_panes=(1,1))

### working on IAB sheet

The following function will add some columns into list. All the words will be converted to lower case, the punctuation and numbers and duplicates will be removed. Finally the list will be tokenized/split.

Some cells of IAB are empty, and it produced an error for certain row, therefore if elif else was used (I could not find an elegant form to do it)

In [70]:
def extract_words_IAB(row):
    # Extract strings from colums IAB
    cA = sh_IAB['A' + str(row)].value
    cD = sh_IAB['D' + str(row)].value
    cE = sh_IAB['E' + str(row)].value
    cF = sh_IAB['F' + str(row)].value
    #c = c1 + c3 + c5 + c7
    if cF == None and cA != cF and cD != cF and cE != cF :
        c_full_text = ' '.join([cA, cD, cE])
    elif cE == None and cA != cE and cD != cE:
        c_full_text = ' '.join([cA, cD])
    elif cD == None:
        c_full_text = ' '.join([cA])
    else:
        c_full_text = ' '.join([cA, cD, cE, cF])
    # convert all elements lower case
    c_full_text = c_full_text.lower()
    # remove punctuation and remove words containing numbers
    c_full_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', c_full_text)
    # alfanumerico * times digits
    c_full_text = re.sub('\w*\d\w*', ' ', c_full_text)
    # word separation
    #c_full_text.split()
    # remove duplicates and word separation
    res = []
    [res.append(x) for x in c_full_text.split() if x not in res]
    return res

data_IAB is a dataframe which contains each line of words of IAB. The range goes from line 2 (line 1 is a header) to the max amount of rows +1.
Inside the for the extract_words function is called.
An excel file with the Data_IAB.xlsx is created with only one sheet name.

In [71]:
# it takes a while this run

data_IAB = pd.DataFrame()
for i in range (2, sh_IAB.max_row + 1):
    data_IAB = data_IAB.append ({'Text_IAB' : extract_words_IAB(i)}, ignore_index= True)
    data_IAB.to_excel('Data_IAB.xlsx', sheet_name = 'IAB', index= False, freeze_panes=(1,1))

In [72]:
data_IAB.head() #data frame

                                               Text_IAB
0                                          [automotive]
1                      [auto, body, styles, automotive]
2  [commercial, trucks, automotive, auto, body, styles]
3               [sedan, automotive, auto, body, styles]
4      [station, wagon, automotive, auto, body, styles]

In [73]:
type(data_IAB)

pandas.core.frame.DataFrame

I need to remove the stopwords from the previous data_IAB. The new data_IAB_clean does not contain the stop_words list

In [74]:
data_IAB_clean = data_IAB['Text_IAB'].apply(lambda x: [item for item in x if item not in stop_words])
data_IAB_clean, type(data_IAB_clean)

(0                                                [automotive]
 1                            [auto, body, styles, automotive]
 2        [commercial, trucks, automotive, auto, body, styles]
 3                     [sedan, automotive, auto, body, styles]
 4            [station, wagon, automotive, auto, body, styles]
                                 ...
 686               [adult, video, games, gaming, game, genres]
 687    [casino, gambling, video, games, gaming, game, genres]
 688              [family, video, games, gaming, game, genres]
 689              [horror, video, games, gaming, game, genres]
 690              [racing, video, games, gaming, game, genres]
 Name: Text_IAB, Length: 691, dtype: object,
 pandas.core.series.Series)

Now I want to concatenate the words in each row.

In [75]:
data_IAB_clean2 = [' '.join(tup) for tup in data_IAB_clean]
data_IAB_clean2

['automotive',
 'auto body styles automotive',
 'commercial trucks automotive auto body styles',
 'sedan automotive auto body styles',
 'station wagon automotive auto body styles',
 'suv automotive auto body styles',
 'van automotive auto body styles',
 'convertible automotive auto body styles',
 'coupe automotive auto body styles',
 'crossover automotive auto body styles',
 'hatchback automotive auto body styles',
 'microcar automotive auto body styles',
 'minivan automotive auto body styles',
 'road vehicles automotive auto body styles',
 'pickup trucks automotive auto body styles',
 'auto type automotive',
 'budget cars automotive auto type',
 'certified pre owned cars automotive auto type',
 'classic cars automotive auto type',
 'concept cars automotive auto type',
 'driverless cars automotive auto type',
 'green vehicles automotive auto type',
 'luxury cars automotive auto type',
 'performance cars automotive auto type',
 'car culture automotive',
 'dash cam videos automotive',
 'motorcycles automotive',
 'road side assistance automotive',
 'scooters automotive',
 'auto buying selling automotive',
 'auto insurance automotive',
 'auto parts automotive',
 'auto recalls automotive',
 'auto repair automotive',
 'auto safety automotive',
 'auto shows automotive',
 'auto technology automotive',
 'auto infotainment technologies automotive technology',
 'auto navigation systems automotive technology',
 'auto safety technologies automotive technology',
 'auto rentals automotive',
 'books literature',
 'art photography books literature',
 'comics graphic novels books literature',
 'fiction books literature',
 'poetry books literature',
 'business finance',
 'business finance',
 'business accounting finance',
 'human resources business finance',
 'large business finance',
 'logistics business finance',
 'marketing advertising business finance',
 'sales business finance',
 'small medium sized business finance',
 'startups business finance',
 'business administration finance',
 'business banking finance',
 'angel investment business finance banking',
 'bankruptcy business finance banking',
 'business loans finance banking',
 'debt factoring invoice discounting business finance banking',
 'mergers acquisitions business finance banking',
 'private equity business finance banking',
 'sale lease back business finance banking',
 'venture capital business finance banking',
 'business finance',
 'business operations finance',
 'consumer issues business finance',
 'recalls business finance consumer issues',
 'executive leadership management business finance',
 'government business finance',
 'green solutions business finance',
 'business utilities finance',
 'economy business finance',
 'commodities business finance economy',
 'currencies business finance economy',
 'financial crisis business finance economy',
 'financial reform business finance economy',
 'financial regulation business finance economy',
 'gasoline prices business finance economy',
 'housing market business finance economy',
 'interest rates business finance economy',
 'job market business finance economy',
 'industries business finance',
 'advertising industry business finance industries',
 'education industry business finance industries',
 'entertainment industry business finance industries',
 'environmental services industry business finance industries',
 'financial industry business finance industries',
 'food industry business finance industries',
 'healthcare industry business finance industries',
 'hospitality industry business finance industries',
 'information services industry business finance industries',
 'legal services industry business finance industries',
 'logistics transportation industry business finance industries',
 'agriculture business finance industries',
 'management consulting industry business finance industries',
 'manufacturing industry business finance industries',
 'mechanical industrial engineering industry business finance industries',
 'media industry business finance industries',
 'metals industry business finance industries',
 'non profit organizations business finance industries',
 'pharmaceutical industry business finance industries',
 'power energy industry business finance industries',
 'publishing industry business finance industries',
 'real estate industry business finance industries',
 'apparel industry business finance industries',
 'retail industry business finance industries',
 'technology industry business finance industries',
 'telecommunications industry business finance industries',
 'automotive industry business finance industries',
 'aviation industry business finance industries',
 'biotech biomedical industry business finance industries',
 'civil engineering industry business finance industries',
 'construction industry business finance industries',
 'defense industry business finance industries',
 'careers',
 'apprenticeships careers',
 'career advice careers',
 'career planning careers',
 'job search careers',
 'job fairs careers search',
 'resume writing advice careers job search',
 'remote working careers',
 'vocational training careers',
 'education',
 'adult education',
 'private school education',
 'secondary education',
 'special education',
 'college education',
 'college planning education',
 'postgraduate education college',
 'professional school education college postgraduate',
 'undergraduate education college',
 'early childhood education',
 'educational assessment education',
 'standardized testing education educational assessment',
 'homeschooling education',
 'homework study education',
 'language learning education',
 'online education',
 'primary education',
 'events',
 'awards shows events',
 'business expos conferences events',
 'fan conventions events',
 'holidays',
 'national civic holidays',
 'attractions',
 'amusement theme parks attractions',
 'historic site landmark tours attractions',
 'malls shopping centers attractions',
 'museums galleries attractions',
 'nightclubs attractions',
 'outdoor attractions activities',
 'parks attractions nature',
 'theater venues attractions',
 'zoos aquariums attractions',
 'bars restaurants attractions',
 'casinos gambling attractions',
 'party supplies decorations shopping',
 'personal celebrations life events',
 'anniversary personal celebrations life events',
 'wedding personal celebrations life events',
 'baby shower personal celebrations life events',
 'bachelor party personal celebrations life events',
 'bachelorette party personal celebrations life events',
 'birth personal celebrations life events',
 'birthday personal celebrations life events',
 'funeral personal celebrations life events',
 'graduation personal celebrations life events',
 'prom personal celebrations life events',
 'family relationships',
 'bereavement family relationships',
 'dating family relationships',
 'divorce family relationships',
 'eldercare family relationships',
 'marriage civil unions family relationships',
 'parenting family relationships',
 'adoption fostering family relationships parenting',
 'daycare pre school family relationships parenting',
 'internet safety family relationships parenting',
 'parenting babies toddlers family relationships',
 'parenting children aged family relationships',
 'parenting teens family relationships',
 'special needs kids family relationships parenting',
 'single life family relationships',
 'fine art',
 'costume fine art',
 'dance fine art',
 'design fine art',
 'digital arts fine art',
 'fine art photography',
 'modern art fine',
 'opera fine art',
 'theater fine art',
 'food drink',
 'alcoholic beverages food drink',
 'vegan diets food drink',
 'vegetarian diets food drink',
 'world cuisines food drink',
 'barbecues grilling food drink',
 'cooking food drink',
 'desserts baking food drink',
 'dining food drink',
 'food allergies drink',
 'food movements drink',
 'healthy cooking eating food drink',
 'non alcoholic beverages food drink',
 'healthy living',
 'children health healthy living',
 'fitness exercise healthy living',
 'participant sports healthy living fitness exercise',
 'running jogging healthy living fitness exercise',
 'men health healthy living',
 'nutrition healthy living',
 'senior health healthy living',
 'weight loss healthy living',
 'wellness healthy living',
 'alternative medicine healthy living wellness',
 'herbs supplements healthy living wellness alternative medicine',
 'holistic health healthy living wellness alternative medicine',
 'physical therapy healthy living wellness',
 'smoking cessation healthy living wellness',
 'women health healthy living',
 'hobbies interests',
 'antiquing antiques hobbies interests',
 'magic illusion hobbies interests',
 'model toys hobbies interests',
 'musical instruments hobbies interests',
 'paranormal phenomena hobbies interests',
 'radio control hobbies interests',
 'sci fi fantasy hobbies interests',
 'workshops classes hobbies interests',
 'arts crafts hobbies interests',
 'beadwork hobbies interests arts crafts',
 'candle soap making hobbies interests arts crafts',
 'drawing sketching hobbies interests arts crafts',
 'jewelry making hobbies interests arts crafts',
 'needlework hobbies interests arts crafts',
 'painting hobbies interests arts crafts',
 'photography hobbies interests arts crafts',
 'scrapbooking hobbies interests arts crafts',
 'woodworking hobbies interests arts crafts',
 'beekeeping hobbies interests',
 'birdwatching hobbies interests',
 'cigars hobbies interests',
 'collecting hobbies interests',
 'comic books hobbies interests collecting',
 'stamps coins hobbies interests collecting',
 'content production hobbies interests',
 'audio production hobbies interests content',
 'freelance writing hobbies interests content production',
 'screenwriting hobbies interests content production',
 'video production hobbies interests content',
 'games puzzles hobbies interests',
 'board games puzzles hobbies interests',
 'card games hobbies interests puzzles',
 'roleplaying games hobbies interests puzzles',
 'genealogy ancestry hobbies interests',
 'home garden',
 'gardening home garden',
 'remodeling construction home garden',
 'smart home garden',
 'home appliances garden',
 'home entertaining garden',
 'home improvement garden',
 'home security garden',
 'indoor environmental quality home garden',
 'interior decorating home garden',
 'landscaping home garden',
 'outdoor decorating home garden',
 'medical health',
 'diseases conditions medical health',
 'allergies medical health diseases conditions',
 'ear nose throat conditions medical health diseases',
 'endocrine metabolic diseases medical health conditions',
 'hormonal disorders medical health diseases conditions endocrine metabolic',
 'menopause medical health diseases conditions endocrine metabolic',
 'thyroid disorders medical health diseases conditions endocrine metabolic',
 'eye vision conditions medical health diseases',
 'foot health medical diseases conditions',
 'heart cardiovascular diseases medical health conditions',
 'infectious diseases medical health conditions',
 'injuries medical health diseases conditions',
 'first aid medical health diseases conditions injuries',
 'lung respiratory health medical diseases conditions',
 'mental health medical diseases conditions',
 'reproductive health medical diseases conditions',
 'birth control medical health diseases conditions reproductive',
 'infertility medical health diseases conditions reproductive',
 'pregnancy medical health diseases conditions reproductive',
 'blood disorders medical health diseases conditions',
 'sexual health medical diseases conditions',
 'sexual conditions medical health diseases',
 'skin dermatology medical health diseases conditions',
 'sleep disorders medical health diseases conditions',
 'substance abuse medical health diseases conditions',
 'bone joint conditions medical health diseases',
 'brain nervous system disorders medical health diseases conditions',
 'cancer medical health diseases conditions',
 'cold flu medical health diseases conditions',
 'dental health medical diseases conditions',
 'diabetes medical health diseases conditions',
 'digestive disorders medical health diseases conditions',
 'medical tests health',
 'pharmaceutical drugs medical health',
 'surgery medical health',
 'vaccines medical health',
 'cosmetic medical services health',
 'entertainment',
 'movies entertainment',
 'music entertainment',
 'adult contemporary music',
 'soft ac music adult contemporary',
 'urban ac music adult contemporary',
 'adult album alternative music',
 'alternative music',
 'children music',
 'classic hits music',
 'classical music',
 'college radio music',
 'comedy music audio',
 'contemporary hits pop top music',
 'country music',
 'dance electronic music',
 'world international music',
 'songwriters folk music',
 'gospel music',
 'hip hop music',
 'inspirational new age music',
 'jazz music',
 'oldies adult standards music',
 'reggae music',
 'blues music',
 'religious music audio',
 'r b soul funk music',
 'rock music',
 'album oriented rock music',
 'alternative rock music',
 'classic rock music',
 'hard rock music',
 'soft rock music',
 'soundtracks tv showtunes music',
 'urban contemporary music audio',
 'variety music audio',
 'crime',
 'disasters',
 'law',
 'politics',
 'elections politics',
 'political issues policy politics',
 'civic affairs politics',
 'war conflicts',
 'personal finance',
 'consumer banking personal finance',
 'financial assistance personal finance',
 'government support welfare personal finance financial assistance',
 'student financial aid personal finance assistance',
 'financial planning personal finance',
 'frugal living personal finance',
 'insurance personal finance',
 'health insurance personal finance',
 'home insurance personal finance',
 'life insurance personal finance',
 'motor insurance personal finance',
 'pet insurance personal finance',
 'travel insurance personal finance',
 'personal debt finance',
 'credit cards personal finance debt',
 'home financing personal finance debt',
 'personal loans finance debt',
 'student loans personal finance debt',
 'personal investing finance',
 'hedge funds personal finance investing',
 'mutual funds personal finance investing',
 'options personal finance investing',
 'stocks bonds personal finance investing',
 'personal taxes finance',
 'retirement planning personal finance',
 'home utilities personal finance',
 'gas electric personal finance home utilities',
 'internet service providers personal finance home utilities',
 'phone services personal finance home utilities',
 'water services personal finance home utilities',
 'pets',
 'birds pets',
 'cats pets',
 'dogs pets',
 'fish aquariums pets',
 'large animals pets',
 'pet adoptions pets',
 'reptiles pets',
 'veterinary medicine pets',
 'pet supplies pets',
 'pop culture',
 'celebrity deaths pop culture',
 'celebrity families pop culture',
 'celebrity homes pop culture',
 'celebrity pregnancy pop culture',
 'celebrity relationships pop culture',
 'celebrity scandal pop culture',
 'celebrity style pop culture',
 'humor satire pop culture',
 'real estate',
 'apartments real estate',
 'retail property real estate',
 'vacation properties real estate',
 'developmental sites real estate',
 'hotel properties real estate',
 'houses real estate',
 'industrial property real estate',
 'land farms real estate',
 'office property real estate',
 'real estate buying selling',
 'real estate renting leasing',
 'religion spirituality',
 'agnosticism religion spirituality',
 'spirituality religion',
 'astrology religion spirituality',
 'atheism religion spirituality',
 'buddhism religion spirituality',
 'christianity religion spirituality',
 'hinduism religion spirituality',
 'islam religion spirituality',
 'judaism religion spirituality',
 'sikhism religion spirituality',
 'science',
 'biological sciences science',
 'chemistry science',
 'environment science',
 'genetics science',
 'geography science',
 'geology science',
 'physics science',
 'space astronomy science',
 'weather science',
 'shopping',
 'coupons discounts shopping',
 'flower shopping',
 'gifts greetings cards shopping',
 'grocery shopping',
 'holiday shopping',
 'household supplies shopping',
 'lotteries scratchcards shopping',
 'sales promotions shopping',
 'children games toys shopping',
 'sports',
 'american football sports',
 'boxing sports',
 'cheerleading sports',
 'college sports',
 'college football sports',
 'college basketball sports',
 'college baseball sports',
 'cricket sports',
 'cycling sports',
 'darts sports',
 'disabled sports',
 'diving sports',
 'equine sports',
 'horse racing sports equine',
 'extreme sports',
 'canoeing kayaking sports extreme',
 'climbing sports extreme',
 'paintball sports extreme',
 'scuba diving sports extreme',
 'skateboarding sports extreme',
 'snowboarding sports extreme',
 'surfing bodyboarding sports extreme',
 'waterskiing wakeboarding sports extreme',
 'australian rules football sports',
 'fantasy sports',
 'field hockey sports',
 'figure skating sports',
 'fishing sports',
 'golf sports',
 'gymnastics sports',
 'hunting shooting sports',
 'ice hockey sports',
 'inline skating sports',
 'lacrosse sports',
 'auto racing sports',
 'motorcycle sports auto racing',
 'martial arts sports',
 'olympic sports',
 'summer olympic sports',
 'winter olympic sports',
 'poker professional gambling sports',
 'rodeo sports',
 'rowing sports',
 'rugby sports',
 'rugby league sports',
 'rugby union sports',
 'sailing sports',
 'skiing sports',
 'snooker pool billiards sports',
 'soccer sports',
 'badminton sports',
 'softball sports',
 'squash sports',
 'swimming sports',
 'table tennis sports',
 'tennis sports',
 'track field sports',
 'volleyball sports',
 'walking sports',
 'water polo sports',
 'weightlifting sports',
 'baseball sports',
 'wrestling sports',
 'basketball sports',
 'beach volleyball sports',
 'bodybuilding sports',
 'bowling sports',
 'sports equipment',
 'style fashion',
 'beauty style fashion',
 'hair care style fashion beauty',
 'makeup accessories style fashion beauty',
 'nail care style fashion beauty',
 'natural organic beauty style fashion',
 'perfume fragrance style fashion beauty',
 'skin care style fashion beauty',
 'women fashion style',
 'women accessories style fashion',
 'women glasses style fashion accessories',
 'women handbags wallets style fashion accessories',
 'women hats scarves style fashion accessories',
 'women jewelry watches style fashion accessories',
 'women clothing style fashion',
 'women business wear style fashion clothing',
 'women casual wear style fashion clothing',
 'women formal wear style fashion clothing',
 'women intimates sleepwear style fashion clothing',
 'women outerwear style fashion clothing',
 'women sportswear style fashion clothing',
 'women shoes footwear style fashion',
 'body art style fashion',
 'children clothing style fashion',
 'designer clothing style fashion',
 'fashion trends style',
 'high fashion style',
 'men fashion style',
 'men accessories style fashion',
 'men jewelry watches style fashion accessories',
 'men clothing style fashion',
 'men business wear style fashion clothing',
 'men casual wear style fashion clothing',
 'men formal wear style fashion clothing',
 'men outerwear style fashion clothing',
 'men sportswear style fashion clothing',
 'men underwear sleepwear style fashion clothing',
 'men shoes footwear style fashion',
 'personal care style fashion',
 'bath shower style fashion personal care',
 'deodorant antiperspirant style fashion personal care',
 'oral care style fashion personal',
 'shaving style fashion personal care',
 'street style fashion',
 'technology computing',
 'artificial intelligence technology computing',
 'augmented reality technology computing',
 'computing technology',
 'computer networking technology computing',
 'computer peripherals technology computing',

In [76]:
type(data_IAB_clean2) #list

list

convert the list to dataframe

In [77]:
data_IAB_clean2 = pd.DataFrame(data_IAB_clean2, columns = ['Text_IAB'])

In [78]:
data_IAB_clean2.head() # DataFrame

                                        Text_IAB
0                                     automotive
1                    auto body styles automotive
2  commercial trucks automotive auto body styles
3              sedan automotive auto body styles
4      station wagon automotive auto body styles

In [79]:
type(data_IAB_clean2)

pandas.core.frame.DataFrame

In [80]:
data_IAB_clean2.to_excel('Data_IAB_clean.xlsx', sheet_name = 'IAB', index= False, freeze_panes=(1,1))

I will update my **IAB_codes**

In [81]:
IAB_codes

                                Name Unique ID
0                         Automotive          1
1                   Auto Body Styles          2
2                  Commercial Trucks          3
3                              Sedan          4
4                      Station Wagon          5
..                               ...        ...
686                Adult Video Games     MQ2XML
687  Casino and Gambling Video Games     ZJG29S
688               Family Video Games     VWGKS7
689               Horror Video Games     II436J
690               Racing Video Games     VK7KD0

[691 rows x 2 columns]

In [82]:
IAB_codes['IAB_clean'] = data_IAB_clean2['Text_IAB']
IAB_codes.head()

                Name Unique ID                                       IAB_clean
0         Automotive          1                                     automotive
1   Auto Body Styles          2                    auto body styles automotive
2  Commercial Trucks          3  commercial trucks automotive auto body styles
3              Sedan          4              sedan automotive auto body styles
4      Station Wagon          5      station wagon automotive auto body styles

### working on NACE sheet

The following function will add some columns into list. All the words will be converted to lower case, the punctuation and numbers and duplicates will be removed. Finally the list will be tokenized/split.

the following function is for extracting just the column E for NACE. The last line of the NACE tab has several descriptions without a code, these descriptions are the section name. Be aware that some of the matching can be linked to these section names.
AGRICULTURE, FORESTRY AND FISHING
MINING AND QUARRYING
MANUFACTURING
ELECTRICITY, GAS, STEAM AND AIR CONDITIONING SUPPLY
WATER SUPPLY; SEWERAGE, WASTE MANAGEMENT AND REMEDIATION ACTIVITIES
CONSTRUCTION
WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VEHICLES AND MOTORCYCLES
TRANSPORTATION AND STORAGE
ACCOMMODATION AND FOOD SERVICE ACTIVITIES
INFORMATION AND COMMUNICATION
FINANCIAL AND INSURANCE ACTIVITIES
REAL ESTATE ACTIVITIES
PROFESSIONAL, SCIENTIFIC AND TECHNICAL ACTIVITIES
ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES
PUBLIC ADMINISTRATION AND DEFENCE; COMPULSORY SOCIAL SECURITY
EDUCATION
HUMAN HEALTH AND SOCIAL WORK ACTIVITIES
ARTS, ENTERTAINMENT AND RECREATION
OTHER SERVICE ACTIVITIES
ACTIVITIES OF HOUSEHOLDS AS EMPLOYERS; UNDIFFERENTIATED GOODS- AND SERVICES-PRODUCING ACTIVITIES OF HOUSEHOLDS FOR OWN USE
ACTIVITIES OF EXTRATERRITORIAL ORGANISATIONS AND BODIES

In [ ]:
sh_NACE

In [ ]:
def extract_words_cE_NACE(row):
    # Extract strings from column E NACE
    cE = sh_NACE['E' + str(row)].value
    # convert all elements lower case
    cE = cE.lower()
    # remove punctuation and remove words containing numbers
    cE = re.sub('[%s]' % re.escape(string.punctuation), ' ', cE)
    # alfanumerico * times digits
    cE = re.sub('\w*\d\w*', ' ', cE)
    # word separation
    #cE.split()
    # remove duplicates and word separation
    res = []
    [res.append(x) for x in cE.split() if x not in res]
    return res

In [ ]:
data_cE_NACE = pd.DataFrame()

In [ ]:
for i in range (2, sh_NACE.max_row + 1):
    data_cE_NACE = data_cE_NACE.append ({'Column E' : extract_words_cE_NACE(i)}, ignore_index= True)

In [ ]:
data_cE_NACE.head(10), type(data_cE_NACE)

In [ ]:
data_cE_NACE_clean = data_cE_NACE['Column E'].apply(lambda x: [item for item in x if item not in stop_words ])

In [ ]:
type(data_cE_NACE_clean)

In [ ]:
data_cE_NACE_clean.head(10)

In [ ]:
# to eliminate the ' ' in each element of the serie
data_cE_NACE_clean2 = [' '.join(tup) for tup in data_cE_NACE_clean]

In [ ]:
data_cE_NACE_clean2 # a list

In [ ]:
data_cE_NACE_clean2 = pd.DataFrame(data_cE_NACE_clean2, columns = ['Column E'])
data_cE_NACE_clean2.to_excel('ColumnE_NACE_clean.xlsx', sheet_name='NACE', index= False, freeze_panes=(1,1))

Now, a dataframe with several columns will be created. Some cells of NACE are empty, and it produced an error for certain rows, therefore if elif else was used (I could not find an elegant form to do it)

In [ ]:
def extract_words_NACE(row):
    # Extract strings from columns NACE
    cE = sh_NACE['E' + str(row)].value
    cF = sh_NACE['F' + str(row)].value
    cG = sh_NACE['G' + str(row)].value
    cH = sh_NACE['H' + str(row)].value
    if cH == None and cE != cH and cF != cH and cG != cH :
        c_full_text = ' '.join([cE, cF, cG])
    elif cG == None and cE != cG and cF != cG:
        c_full_text = ' '.join([cE, cF])
    elif cF == None:
        c_full_text = ' '.join([cE])
    else:
        c_full_text = ' '.join([cE, cF, cG, cH])
    # convert all elements lower case
    c_full_text = c_full_text.lower()
    # remove punctuation and remove words containing numbers
    c_full_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', c_full_text)
    # alfanumerico * times digits
    c_full_text = re.sub('\w*\d\w*', ' ', c_full_text)
    # word separation
    #c_full_text.split()
    # remove duplicates and word separation
    res = []
    [res.append(x) for x in c_full_text.split() if x not in res]
    return res

data_NACE is a dataframe which contains each line of words of NACE. The range goes from line 2 (line 1 is a header) to the max amount of rows +1.
Inside the for the extract_words function is called.
An excel file with the Data_NACE.xlsx is created with only one sheet name.

In [ ]:
# it takes a while this run

data_NACE = pd.DataFrame()
for i in range (2, sh_NACE.max_row + 1):
    data_NACE = data_NACE.append ({'Text_NACE' : extract_words_NACE(i)}, ignore_index= True)
    data_NACE.to_excel('Data_NACE.xlsx', sheet_name = 'NACE', index= False, freeze_panes=(1,1))

In [ ]:
data_NACE.head(5)  #dataFrame

In [ ]:
type(data_NACE)

I need to remove the stopwords from the previous data_IAB. The new data_IAB_clean does not contain the stop_words list

In [ ]:
data_NACE_clean = data_NACE['Text_NACE'].apply(lambda x: [item for item in x if item not in stop_words])

In [ ]:
data_NACE_clean.head(), type(data_NACE_clean)  # serie

Now I will concatenate the words of each row.

In [ ]:
data_NACE_clean2 = [' '.join(i) for i in data_NACE_clean]
data_NACE_clean2  # a list

Convert the list to dataframe

In [ ]:
data_NACE_clean2 = pd.DataFrame(data_NACE_clean2, columns = ['Text_NACE'])

In [ ]:
data_NACE_clean2.head(5)

In [ ]:
type(data_NACE_clean2)

In [ ]:
data_NACE_clean2.to_excel('Data_NACE_clean.xlsx', sheet_name = 'NACE', index= False, freeze_panes=(1,1))

it has been created in this section the following variables and files:

- **sh, sh_IAB** sheet variables
- **data_cF** is a dataframe of column F in task1 and its excel is **ColumnF_TASK1.xlsx**
- **data_cF_clean** is a panda series, but several words separated with ' ' exist.
- **data_cF_clean2** is a dataframe with concatenated words in each row of Column F and its excel is **ColumnF_TASK1_clean.xlsx**
- **data_cF_list** = data_cF_clean2  # for using later in stemming

- **data_cF_cD_clean** is a panda series, with ' ' word separation.
- **data_cF_cD_clean2** is a dataframe with concatenated words in each cell of merge Col F and Col D and its **ColF_ColD_TASK1.xlsx**

- **data** is a dataframe of several column joined of TASK1 and its excel is **TASK1.xlsx**
- **data_clean** is a panda series, but several words separated with ' ' exist.
- **data_clean2** is a dataframe with concatenated words in each roach of Column F and its excel is **TASK1_clean.xlsx**
- **data_IAB** is a dataframe of IAB and its excel is **Data_IAB.xlsx**
- **data_IAB_clean** is a panda series and misses the concatenation of words in each row 
- **data_IAB_clean2** is a dataframe with concatenated words for each row of IAB and its excel is **Data_IAB_clean.xlsx**

- **data_cE_NACE** is a dataframe of **column E NACE**
- **data_cE_NACE_clean** is a panda series and misses the concatenation of words in each row
- **data_cE_NACE_clean2** is a dataframe with concatenated words of colE for each row of NACE and its excel is **ColumnE_NACE_clean.xlsx**
- **data_NACE** is a dataframe of NACE with **several merged cells** and its excel is **Data_NACE.xlsx**
- **data_NACE_clean** is a panda series and misses the concatenation of words in each row 
- **data_NACE_clean2** is a dataframe with concatenated words for each row of NACE and its excel is **Data_NACE_clean.xlsx**

Those underscore clean has been cleaned removing punctuation, digits and stop_words.

## Stemming

Some info
**PorterStemmer** uses Suffix Stripping to produce stems. 
PorterStemmer algorithm does not follow linguistics rather a set of 05 rules for different cases that are applied in phases (step by step) to generate stems.
This is the reason why PorterStemmer does not often generate stems that are actual English words, its simplicity and speed.

Porter’s Stemmer algorithm 
It is one of the most popular stemming methods proposed in 1980. It is based on the idea that the suffixes in the English language are made up of a combination of smaller and simpler suffixes. This stemmer is known for its speed and simplicity. The main applications of Porter Stemmer include data mining and Information retrieval. However, its applications are only limited to English words. Also, the group of stems is mapped on to the same stem and the output stem is not necessarily a meaningful word. The algorithms are fairly lengthy in nature and are known to be the oldest stemmer.
Example: EED -> EE means “if the word has at least one vowel and consonant plus EED ending, change the ending to EE” as ‘agreed’ becomes ‘agree’. 
 
Advantage: It produces the best output as compared to other stemmers and it has less error rate.
Limitation:  Morphological variants produced are not always real words. 
from https://www.geeksforgeeks.org/introduction-to-stemming/

**Lancaster Stemmer** is the most aggressive stemming algorithm. It has an edge over other stemming techniques because it offers us the functionality to add our own custom rules in this algorithm when we implement this using the NLTK package. This sometimes results in abrupt results.

The Lancaster stemmers are more aggressive and dynamic compared to the other two stemmers. The stemmer is really faster, but the algorithm is really confusing when dealing with small words. But they are not as efficient as Snowball Stemmers. The Lancaster stemmers save the rules externally and basically uses an iterative algorithm. 
from https://www.geeksforgeeks.org/introduction-to-stemming

In [83]:
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

ps = PorterStemmer() 

lan = LancasterStemmer()

In [84]:
'''
# example found
word_list = ["friend", "friendship", "friends", "friendships","stabil","destabilize","misunderstanding","railroad","moonlight","football"]
print("{0:20}{1:20}{2:20}".format("Word","Porter Stemmer","lancaster Stemmer"))
print("-"*60)
for word in word_list:
    print("{0:20}{1:20}{2:20}".format(word,ps.stem(word),lan.stem(word)))
'''

'\n# example found\nword_list = ["friend", "friendship", "friends", "friendships","stabil","destabilize","misunderstanding","railroad","moonlight","football"]\nprint("{0:20}{1:20}{2:20}".format("Word","Porter Stemmer","lancaster Stemmer"))\nprint("-"*60)\nfor word in word_list:\n    print("{0:20}{1:20}{2:20}".format(word,ps.stem(word),lan.stem(word)))\n'

I will create Porter stemming for the single column F of Task1 (data_cF_clean)

In [85]:
# create the pandas dataframe for Porter stemmer
data_cF_stem = pd.DataFrame(data_cF_clean, columns = ['Column F'])

data_cF_stem['Porter_stemmed'] = data_cF_stem['Column F'].apply(lambda x: [ps.stem(y) for y in x])
data_cF_stem.head(10)

                Column F     Porter_stemmed
0              [farming]             [farm]
1             [ranching]            [ranch]
2                [dairy]            [dairi]
3              [fishery]          [fisheri]
4       [mining, metals]      [mine, metal]
5          [oil, energy]      [oil, energi]
6       [defense, space]    [defens, space]
7      [pharmaceuticals]       [pharmaceut]
8     [food, production]    [food, product]
9  [aviation, aerospace]  [aviat, aerospac]

Now I will create another column for Lancaster stemming

In [86]:
data_cF_stem['Lancaster_stemmed'] = data_cF_stem['Column F'].apply(lambda x: [lan.stem(y) for y in x])
data_cF_stem.head(10)

                Column F     Porter_stemmed Lancaster_stemmed
0              [farming]             [farm]            [farm]
1             [ranching]            [ranch]           [ranch]
2                [dairy]            [dairi]           [dairy]
3              [fishery]          [fisheri]         [fishery]
4       [mining, metals]      [mine, metal]        [min, met]
5          [oil, energy]      [oil, energi]     [oil, energy]
6       [defense, space]    [defens, space]    [defens, spac]
7      [pharmaceuticals]       [pharmaceut]      [pharmaceut]
8     [food, production]    [food, product]    [food, produc]
9  [aviation, aerospace]  [aviat, aerospac]   [avy, aerospac]

The variable **data_cF_stem** has the original column, Porter stemmed and Lancaster stemmed. However, I will create a **data_cF_ps_stem** and its excel file **ColumnF_PorterStem.xlsx** just for Porter.

In [87]:
# remove 'Column F' and keep just 'stemmed'
data_cF_ps_stem = data_cF_stem.drop(columns=['Column F', 'Lancaster_stemmed'])

In [88]:
data_cF_ps_stem.head(5)

  Porter_stemmed
0         [farm]
1        [ranch]
2        [dairi]
3      [fisheri]
4  [mine, metal]

I will create a variable **data_cF_ps_stem2**, this variable will have the stemmed concatenated words of each row.

In [89]:
data_cF_ps_stem2 = data_cF_ps_stem.squeeze()

print(data_cF_ps_stem2)
type(data_cF_ps_stem2)

0                           [farm]
1                          [ranch]
2                          [dairi]
3                        [fisheri]
4                    [mine, metal]
                  ...
139     [individu, famili, servic]
140             [religi, institut]
141         [civic, social, organ]
142    [non, profit, organ, manag]
143       [intern, trade, develop]
Name: Porter_stemmed, Length: 144, dtype: object

pandas.core.series.Series

In [90]:
data_cF_ps_stem2 = [' '.join(tup) for tup in data_cF_ps_stem2]
data_cF_ps_stem2

['farm',
 'ranch',
 'dairi',
 'fisheri',
 'mine metal',
 'oil energi',
 'defens space',
 'pharmaceut',
 'food product',
 'aviat aerospac',
 'automot',
 'chemic',
 'machineri',
 'shipbuild',
 'textil',
 'paper forest product',
 'railroad manufactur',
 'print',
 'electr electron manufactur',
 'plastic',
 'renew environ',
 'glass ceram concret',
 'packag contain',
 'industri autom',
 'util',
 'construct',
 'build materi',
 'civil engin',
 'cosmet',
 'apparel fashion',
 'sport good',
 'tobacco',
 'supermarket',
 'consum electron',
 'consum good',
 'furnitur',
 'retail',
 'food beverag',
 'consum servic',
 'wholesal',
 'wine spirit',
 'luxuri good jewelri',
 'packag freight deliveri',
 'transport truck railroad',
 'wareh',
 'airlin aviat',
 'maritim',
 'logist suppli chain',
 'import export',
 'hospit',
 'restaur',
 'comput hardwar',
 'comput softwar',
 'comput network',
 'internet',
 'semiconductor',
 'telecommun',
 'motion pictur film',
 'broadcast media',
 'newspap',
 'publish',
 'inform technolog servic',
 'write edit',
 'comput game',
 'onlin media',
 'comput network secur',
 'wireless',
 'media product',
 'bank',
 'insur',
 'financi servic',
 'invest bank',
 'invest manag',
 'ventur capit privat equiti',
 'capit market',
 'real estat',
 'commerci real estat',
 'law practic',
 'legal servic',
 'manag consult',
 'biotechnolog',
 'veterinari',
 'account',
 'architectur plan',
 'research',
 'execut offic',
 'market advertis',
 'inform servic',
 'environment servic',
 'market research',
 'public relat commun',
 'design',
 'profession train coach',
 'translat local',
 'event servic',
 'nanotechnolog',
 'altern disput resolut',
 'outsourc offshor',
 'mechan industri engin',
 'photographi',
 'graphic design',
 'leisur travel tourism',
 'recreat facil servic',
 'fundrais',
 'staf recruit',
 'secur investig',
 'facil servic',
 'human resourc',
 'busi suppli equip',
 'militari',
 'legisl offic',
 'judiciari',
 'intern affair',
 'govern administr',
 'law enforc',
 'public safeti',
 'public polici',
 'polit organ',
 'govern relat',
 'primari secondari educ',
 'higher educ',
 'educ manag',
 'e learn',
 'medic practic',
 'hospit health care',
 'medic devic',
 'altern medicin',
 'mental health care',
 'entertain',
 'gambl casino',
 'sport',
 'museum institut',
 'fine art',
 'perform art',
 'librari',
 'art craft',
 'music',
 'health well fit',
 'anim',
 'individu famili servic',
 'religi institut',
 'civic social organ',
 'non profit organ manag',
 'intern trade develop']

In [91]:
data_cF_ps_stem2 = pd.DataFrame(data_cF_ps_stem2, columns = ['Porter'])
data_cF_ps_stem2.head()

       Porter
0        farm
1       ranch
2       dairi
3     fisheri
4  mine metal

To keep an excel file **ColumnF_PorterStem.xlsx**

In [92]:
# save an excel file
data_cF_ps_stem2.to_excel('ColumnF_PorterStem.xlsx', sheet_name = 'Porter', index= False, freeze_panes=(1,1))

I will create a **data_cF_lan_stem** and its excel file **ColumnF_LancasterStem.xlsx** just for Lancaster.

In [93]:
# remove 'Column F' and keep just 'stemmed'
data_cF_lan_stem = data_cF_stem.drop(columns=['Column F', 'Porter_stemmed'])

data_cF_lan_stem.head(5)

  Lancaster_stemmed
0            [farm]
1           [ranch]
2           [dairy]
3         [fishery]
4        [min, met]

I will create a variable **data_cF_lan_stem2**, this variable will have the stemmed concatenated words of each row.

In [94]:
data_cF_lan_stem2 = data_cF_lan_stem.squeeze()

print(data_cF_lan_stem2)
type(data_cF_lan_stem2)

0                       [farm]
1                      [ranch]
2                      [dairy]
3                    [fishery]
4                   [min, met]
                ...
139      [individ, famy, serv]
140         [religy, institut]
141            [civ, soc, org]
142    [non, profit, org, man]
143    [intern, trad, develop]
Name: Lancaster_stemmed, Length: 144, dtype: object

pandas.core.series.Series

In [95]:
data_cF_lan_stem2 = [' '.join(tup) for tup in data_cF_lan_stem2]
data_cF_lan_stem2

['farm',
 'ranch',
 'dairy',
 'fishery',
 'min met',
 'oil energy',
 'defens spac',
 'pharmaceut',
 'food produc',
 'avy aerospac',
 'automot',
 'chem',
 'machinery',
 'shipbuild',
 'textil',
 'pap forest produc',
 'railroad manufact',
 'print',
 'elect electron manufact',
 'plast',
 'renew environ',
 'glass ceram concret',
 'pack contain',
 'indust autom',
 'util',
 'construct',
 'build mat',
 'civil engin',
 'cosmet',
 'apparel fash',
 'sport good',
 'tobacco',
 'supermarket',
 'consum electron',
 'consum good',
 'furnit',
 'retail',
 'food bev',
 'consum serv',
 'wholes',
 'win spirit',
 'luxury good jewelry',
 'pack freight delivery',
 'transport truck railroad',
 'wareh',
 'airlin avy',
 'maritim',
 'log supply chain',
 'import export',
 'hospit',
 'resta',
 'comput hardw',
 'comput softw',
 'comput network',
 'internet',
 'semiconduc',
 'telecommun',
 'mot pict film',
 'broadcast med',
 'newspap',
 'publ',
 'inform technolog serv',
 'writ edit',
 'comput gam',
 'onlin med',
 'comput network sec',
 'wireless',
 'med produc',
 'bank',
 'ins',
 'fin serv',
 'invest bank',
 'invest man',
 'vent capit priv equ',
 'capit market',
 'real est',
 'commerc real est',
 'law pract',
 'leg serv',
 'man consult',
 'biotechnolog',
 'veterin',
 'account',
 'architect plan',
 'research',
 'execut off',
 'market advert',
 'inform serv',
 'environ serv',
 'market research',
 'publ rel commun',
 'design',
 'profess train coach',
 'transl loc',
 'ev serv',
 'nanotechnolog',
 'altern disput resolv',
 'outsourc offsh',
 'mech indust engin',
 'photograph',
 'graph design',
 'leis travel tour',
 'recr facil serv',
 'fundra',
 'staff recruit',
 'sec investig',
 'facil serv',
 'hum resourc',
 'busy supply equip',
 'milit',
 'legisl off',
 'judicy',
 'intern affair',
 'govern admin',
 'law enforc',
 'publ saf',
 'publ policy',
 'polit org',
 'govern rel',
 'prim second educ',
 'high educ',
 'educ man',
 'e learn',
 'med pract',
 'hospit heal car',
 'med dev',
 'altern medicin',
 'ment heal car',
 'entertain',
 'gambl casino',
 'sport',
 'museum institut',
 'fin art',
 'perform art',
 'libr',
 'art craft',
 'mus',
 'heal wel fit',
 'anim',
 'individ famy serv',
 'religy institut',
 'civ soc org',
 'non profit org man',
 'intern trad develop']

In [96]:
data_cF_lan_stem2 = pd.DataFrame(data_cF_lan_stem2, columns = ['Lancaster'])
data_cF_lan_stem2.head()

  Lancaster
0      farm
1     ranch
2     dairy
3   fishery
4   min met

To keep an excel file **ColumnF_LancasterStem.xlsx**

In [97]:
# save an excel file
data_cF_lan_stem2.to_excel('ColumnF_LancasterStem.xlsx', sheet_name = 'Lancaster', index= False, freeze_panes=(1,1))

I will create new stemming dataset for data_cF_cD_clean dataframe. For assessing a new matching case.

In [98]:
# Stemming on merged ColF and ColD dataframe, remember the dataframe should come in list form for stemming
# Create the pandas dataframe for Porter stemmer and Lancaster stemmer

data_cF_cD_stem =  pd.DataFrame(data_cF_cD_clean, columns= ['ColF ColD'])
data_cF_cD_stem['Porter_stemmed'] = data_cF_cD_stem['ColF ColD'].apply(lambda x: [ps.stem(y) for y in x])
data_cF_cD_stem['Lancaster_stemmed'] = data_cF_cD_stem['ColF ColD'].apply(lambda x: [lan.stem(y) for y in x])
data_cF_cD_stem.head(20)

,ColF ColD,Porter_stemmed,Lancaster_stemmed
0,"[farming, crop, animal, production, hunting, related, service, activities]","[farm, crop, anim, product, hunt, relat, servic, activ]","[farm, crop, anim, produc, hunt, rel, serv, act]"
1,"[ranching, crop, animal, production, hunting, related, service, activities]","[ranch, crop, anim, product, hunt, relat, servic, activ]","[ranch, crop, anim, produc, hunt, rel, serv, act]"
2,"[dairy, crop, animal, production, hunting, related, service, activities]","[dairi, crop, anim, product, hunt, relat, servic, activ]","[dairy, crop, anim, produc, hunt, rel, serv, act]"
3,"[fishery, fishing, aquaculture]","[fisheri, fish, aquacultur]","[fishery, fish, aquacult]"
4,"[mining, metals, coal, lignite]","[mine, metal, coal, lignit]","[min, met, coal, lignit]"
5,"[oil, energy, extraction, crude, petroleum, natural, gas]","[oil, energi, extract, crude, petroleum, natur, ga]","[oil, energy, extract, crud, petrole, nat, gas]"
6,"[defense, space, manufacture, fabricated, metal, products, except, machinery, equip]","[defens, space, manufactur, fabric, metal, product, except, machineri, equip]","[defens, spac, manufact, fabr, met, produc, exceiv, machinery, equip]"
7,"[pharmaceuticals, manufacture, medicinal, chemical, botanical, products]","[pharmaceut, manufactur, medicin, chemic, botan, product]","[pharmaceut, manufact, medicin, chem, bot, produc]"
8,"[food, production, manufacture, products]","[food, product, manufactur, product]","[food, produc, manufact, produc]"
9,"[aviation, aerospace, manufacture, transport, equipment]","[aviat, aerospac, manufactur, transport, equip]","[avy, aerospac, manufact, transport, equip]"
10,"[automotive, manufacture, motor, vehicles, trailers, semi]","[automot, manufactur, motor, vehicl, trailer, semi]","[automot, manufact, mot, vehic, trail, sem]"
11,"[chemicals, manufacture, chemical, products]","[chemic, manufactur, chemic, product]","[chem, manufact, chem, produc]"
12,"[machinery, manufacture, equipment, n, e, c]","[machineri, manufactur, equip, n, e, c]","[machinery, manufact, equip, n, e, c]"
13,"[shipbuilding, manufacture, transport, equipment]","[shipbuild, manufactur, transport, equip]","[shipbuild, manufact, transport, equip]"
14,"[textiles, manufacture]","[textil, manufactur]","[textil, manufact]"
15,"[paper, forest, products, manufacture]","[paper, forest, product, manufactur]","[pap, forest, produc, manufact]"
16,"[railroad, manufacture, transport, equipment]","[railroad, manufactur, transport, equip]","[railroad, manufact, transport, equip]"
17,"[printing, reproduction, recorded, media]","[print, reproduct, record, media]","[print, reproduc, record, med]"
18,"[electrical, electronic, manufacturing, manufacture, computer, optical, products]","[electr, electron, manufactur, manufactur, comput, optic, product]","[elect, electron, manufact, manufact, comput, opt, produc]"
19,"[plastics, manufacture, rubber, products]","[plastic, manufactur, rubber, product]","[plast, manufact, rub, produc]"

In [99]:
# remove columns for converting to series
data_cF_cD_ps_stem = data_cF_cD_stem.drop(columns = ['ColF ColD', 'Lancaster_stemmed'])
data_cF_cD_lan_stem = data_cF_cD_stem.drop(columns =['ColF ColD', 'Porter_stemmed'])
data_cF_cD_ps_stem.head(5), data_cF_cD_lan_stem.head(5)

(                                             Porter_stemmed
 0   [farm, crop, anim, product, hunt, relat, servic, activ]
 1  [ranch, crop, anim, product, hunt, relat, servic, activ]
 2  [dairi, crop, anim, product, hunt, relat, servic, activ]
 3                               [fisheri, fish, aquacultur]
 4                               [mine, metal, coal, lignit],
                                    Lancaster_stemmed
 0   [farm, crop, anim, produc, hunt, rel, serv, act]
 1  [ranch, crop, anim, produc, hunt, rel, serv, act]
 2  [dairy, crop, anim, produc, hunt, rel, serv, act]
 3                          [fishery, fish, aquacult]
 4                           [min, met, coal, lignit])

In [100]:
data_cF_cD_ps_stem2 = data_cF_cD_ps_stem.squeeze()
data_cF_cD_lan_stem2 = data_cF_cD_lan_stem.squeeze()

data_cF_cD_ps_stem2, data_cF_cD_lan_stem2

(0                [farm, crop, anim, product, hunt, relat, servic, activ]
 1               [ranch, crop, anim, product, hunt, relat, servic, activ]
 2               [dairi, crop, anim, product, hunt, relat, servic, activ]
 3                                            [fisheri, fish, aquacultur]
 4                                            [mine, metal, coal, lignit]
                                      ...
 139                    [individu, famili, servic, person, servic, activ]
 140             [religi, institut, activ, profession, membership, organ]
 141         [civic, social, organ, activ, profession, membership, organ]
 142    [non, profit, organ, manag, activ, profession, membership, organ]
 143       [intern, trade, develop, activ, profession, membership, organ]
 Name: Porter_stemmed, Length: 144, dtype: object,
 0       [farm, crop, anim, produc, hunt, rel, serv, act]
 1      [ranch, crop, anim, produc, hunt, rel, serv, act]
 2      [dairy, crop, anim, produc, hunt, rel, serv, act]
 3                              [fishery, fish, aquacult]
 4                               [min, met, coal, lignit]
                              ...
 139             [individ, famy, serv, person, serv, act]
 140          [religy, institut, act, profess, memb, org]
 141             [civ, soc, org, act, profess, memb, org]
 142     [non, profit, org, man, act, profess, memb, org]
 143     [intern, trad, develop, act, profess, memb, org]
 Name: Lancaster_stemmed, Length: 144, dtype: object)

In [101]:
# concatenate
data_cF_cD_ps_stem2 = [' '.join(tup) for tup in data_cF_cD_ps_stem2]
data_cF_cD_lan_stem2 = [' '.join(tup) for tup in data_cF_cD_lan_stem2]

data_cF_cD_ps_stem2,  data_cF_cD_lan_stem2

(['farm crop anim product hunt relat servic activ',
  'ranch crop anim product hunt relat servic activ',
  'dairi crop anim product hunt relat servic activ',
  'fisheri fish aquacultur',
  'mine metal coal lignit',
  'oil energi extract crude petroleum natur ga',
  'defens space manufactur fabric metal product except machineri equip',
  'pharmaceut manufactur medicin chemic botan product',
  'food product manufactur product',
  'aviat aerospac manufactur transport equip',
  'automot manufactur motor vehicl trailer semi',
  'chemic manufactur chemic product',
  'machineri manufactur equip n e c',
  'shipbuild manufactur transport equip',
  'textil manufactur',
  'paper forest product manufactur',
  'railroad manufactur transport equip',
  'print reproduct record media',
  'electr electron manufactur manufactur comput optic product',
  'plastic manufactur rubber product',
  'renew environ manufactur',
  'glass ceram concret manufactur',
  'packag contain manufactur',
  'industri autom manufactur',
  'util electr ga steam air condit suppli',
  'construct build',
  'build materi map',
  'civil engin',
  'cosmet retail trade except motor vehicl motorcycl',
  'apparel fashion retail trade except motor vehicl motorcycl',
  'sport good retail trade except motor vehicl motorcycl',
  'tobacco retail trade except motor vehicl motorcycl',
  'supermarket retail trade except motor vehicl motorcycl',
  'consum electron retail trade except motor vehicl motorcycl',
  'consum good retail trade except motor vehicl motorcycl',
  'furnitur retail trade except motor vehicl motorcycl',
  'retail trade except motor vehicl motorcycl',
  'food beverag retail trade except motor vehicl motorcycl',
  'consum servic retail trade except motor vehicl motorcycl',
  'wholesal trade except motor vehicl motorcycl',
  'wine spirit retail trade except motor vehicl motorcycl',
  'luxuri good jewelri retail trade except motor vehicl motorcycl',
  'packag freight deliveri postal courier activ',
  'transport truck railroad land transport via pipelin',
  'wareh support activ transport',
  'airlin aviat air transport',
  'maritim water transport',
  'logist suppli chain wareh support activ transport',
  'import export wareh support activ transport',
  'hospit accommod',
  'restaur food servic activ',
  'comput hardwar program consult relat activ',
  'comput softwar program consult relat activ',
  'comput network program consult relat activ',
  'internet telecommun',
  'semiconductor comput program consult relat activ',
  'telecommun',
  'motion pictur film pictur video televis programm product sound record',
  'broadcast media program broadcast activ',
  'newspap publish activ',
  'publish activ',
  'inform technolog servic servic activ',
  'write edit publish activ',
  'comput game publish activ',
  'onlin media inform servic activ',
  'comput network secur program consult relat activ',
  'wireless comput program consult relat activ',
  'media product motion pictur video televis programm sound record',
  'bank financi servic activ except insur pension fund',
  'insur reinsur pension fund except compulsori social',
  'financi servic servic activ except insur pension fund',
  'invest bank financi servic activ except insur pension fund',
  'invest manag financi servic activ except insur pension fund',
  'ventur capit privat equiti financi servic activ except insur pension fund',
  'capit market activ auxiliari financi servic insur',
  'real estat activ',
  'commerci real estat activ',
  'law practic legal account activ',
  'legal servic account activ',
  'manag consult activ head offic consult',
  'biotechnolog scientif research develop',
  'veterinari activ',
  'account legal activ',
  'architectur plan architectur engin activ technic test analysi',
  'research scientif develop',
  'execut offic activ head offic manag consult',
  'market advertis market research',
  'inform servic activ head offic manag consult',
  'environment servic profession scientif technic activ',
  'market research advertis',
  'public relat commun activ head offic manag consult',
  'design profession scientif technic activ',
  'profession train coach scientif technic activ',
  'translat local profession scientif technic activ',
  'event servic profession scientif technic activ',
  'nanotechnolog scientif research develop',
  'altern disput resolut legal account activ',
  'outsourc offshor profession scientif technic activ',
  'mechan industri engin scientif research develop',
  'photographi profession scientif technic activ',
  'graphic design profession scientif technic activ',
  'leisur travel tourism agenc tour oper reserv servic relat activ',
  'recreat facil servic build landscap activ',
  'fundrais offic administr support busi activ',
  'staf recruit employ activ',
  'secur investig investig activ',
  'facil servic build landscap activ',
  'human resourc employ activ',
  'busi suppli equip offic administr support activ',
  'militari public administr defenc compulsori social secur',
  'legisl offic public administr defenc compulsori social secur',
  'judiciari public administr defenc compulsori social secur',
  'intern affair public administr defenc compulsori social secur',
  'govern administr public defenc compulsori social secur',
  'law enforc public administr defenc compulsori social secur',
  'public safeti administr defenc compulsori social secur',
  'public polici administr defenc compulsori social secur',
  'polit organ public administr defenc compulsori social secur',
  'govern relat public administr defenc compulsori social secur',
  'primari secondari educ',
  'higher educ',
  'educ manag',
  'e learn educ',
  'medic practic human health activ',
  'hospit health care human activ',
  'medic devic human health activ',
  'altern medicin human health activ',
  'mental health care human activ',
  'entertain creativ art activ',
  'gambl casino bet activ',
  'sport activ amus recreat',
  'museum institut librari archiv cultur activ',
  'fine art creativ art entertain activ',
  'perform art creativ entertain activ',
  'librari archiv museum cultur activ',
  'art craft creativ entertain activ',
  'music creativ art entertain activ',
  'health well fit sport activ amus recreat',
  'anim creativ art entertain activ',
  'individu famili servic person servic activ',
  'religi institut activ profession membership organ',
  'civic social organ activ profession membership organ',
  'non profit organ manag activ profession membership organ',
  'intern trade develop activ profession membership organ'],
 ['farm crop anim produc hunt rel serv act',
  'ranch crop anim produc hunt rel serv act',
  'dairy crop anim produc hunt rel serv act',
  'fishery fish aquacult',
  'min met coal lignit',
  'oil energy extract crud petrole nat gas',
  'defens spac manufact fabr met produc exceiv machinery equip',
  'pharmaceut manufact medicin chem bot produc',
  'food produc manufact produc',
  'avy aerospac manufact transport equip',
  'automot manufact mot vehic trail sem',
  'chem manufact chem produc',
  'machinery manufact equip n e c',
  'shipbuild manufact transport equip',
  'textil manufact',
  'pap forest produc manufact',
  'railroad manufact transport equip',
  'print reproduc record med',
  'elect electron manufact manufact comput opt produc',
  'plast manufact rub produc',
  'renew environ manufact',
  'glass ceram concret manufact',
  'pack contain manufact',
  'indust autom manufact',
  'util elect gas steam air condit supply',
  'construct build',
  'build mat map',
  'civil engin',
  'cosmet retail trad exceiv mot vehic motorcyc',
  'apparel fash retail trad exceiv mot vehic motorcyc',
  'sport good retail trad exceiv mot vehic motorcyc',
  'tobacco retail trad exceiv mot vehic motorcyc',
  'supermarket retail trad exceiv mot vehic motorcyc',
  'consum electron retail trad exceiv mot vehic motorcyc',
  'consum good retail trad exceiv mot vehic motorcyc',
  'furnit retail trad exceiv mot vehic motorcyc',
  'retail trad exceiv mot vehic motorcyc',
  'food bev retail trad exceiv mot vehic motorcyc',
  'consum serv retail trad exceiv mot vehic motorcyc',
  'wholes trad exceiv mot vehic motorcyc',
  'win spirit retail trad exceiv mot vehic motorcyc',
  'luxury good jewelry retail trad exceiv mot vehic motorcyc',
  'pack freight delivery post coury act',
  'transport truck railroad land transport via pipelin',
  'wareh support act transport',
  'airlin avy air transport',
  'maritim wat transport',
  'log supply chain wareh support act transport',
  'import export wareh support act transport',
  'hospit accommod',
  'resta food serv act',
  'comput hardw program consult rel act',
  'comput softw program consult rel act',
  'comput network program consult rel act',
  'internet telecommun',
  'semiconduc comput program consult rel act',
  'telecommun',
  'mot pict film pict video televid program produc sound record',
  'broadcast med program broadcast act',
  'newspap publ act',
  'publ act',
  'inform technolog serv serv act',
  'writ edit publ act',
  'comput gam publ act',
  'onlin med inform serv act',
  'comput network sec program consult rel act',
  'wireless comput program consult rel act',
  'med produc mot pict video televid program sound record',
  'bank fin serv act exceiv ins pend fund',
  'ins reins pend fund exceiv compuls soc',
  'fin serv serv act exceiv ins pend fund',
  'invest bank fin serv act exceiv ins pend fund',
  'invest man fin serv act exceiv ins pend fund',
  'vent capit priv equ fin serv act exceiv ins pend fund',
  'capit market act auxy fin serv ins',
  'real est act',
  'commerc real est act',
  'law pract leg account act',
  'leg serv account act',
  'man consult act head off consult',
  'biotechnolog sci research develop',
  'veterin act',
  'account leg act',
  'architect plan architect engin act techn test analys',
  'research sci develop',
  'execut off act head off man consult',
  'market advert market research',
  'inform serv act head off man consult',
  'environ serv profess sci techn act',
  'market research advert',
  'publ rel commun act head off man consult',
  'design profess sci techn act',
  'profess train coach sci techn act',
  'transl loc profess sci techn act',
  'ev serv profess sci techn act',
  'nanotechnolog sci research develop',
  'altern disput resolv leg account act',
  'outsourc offsh profess sci techn act',
  'mech indust engin sci research develop',
  'photograph profess sci techn act',
  'graph design profess sci techn act',
  'leis travel tour ag tour op reserv serv rel act',
  'recr facil serv build landscap act',
  'fundra off admin support busy act',
  'staff recruit employ act',
  'sec investig investig act',
  'facil serv build landscap act',
  'hum resourc employ act',
  'busy supply equip off admin support act',
  'milit publ admin def compuls soc sec',
  'legisl off publ admin def compuls soc sec',
  'judicy publ admin def compuls soc sec',
  'intern affair publ admin def compuls soc sec',
  'govern admin publ def compuls soc sec',
  'law enforc publ admin def compuls soc sec',
  'publ saf admin def compuls soc sec',
  'publ policy admin def compuls soc sec',
  'polit org publ admin def compuls soc sec',
  'govern rel publ admin def compuls soc sec',
  'prim second educ',
  'high educ',
  'educ man',
  'e learn educ',
  'med pract hum heal act',
  'hospit heal car hum act',
  'med dev hum heal act',
  'altern medicin hum heal act',
  'ment heal car hum act',
  'entertain cre art act',
  'gambl casino bet act',
  'sport act amus recr',
  'museum institut libr arch cult act',
  'fin art cre art entertain act',
  'perform art cre entertain act',
  'libr arch museum cult act',
  'art craft cre entertain act',
  'mus cre art entertain act',
  'heal wel fit sport act amus recr',
  'anim cre art entertain act',
  'individ famy serv person serv act',
  'religy institut act profess memb org',
  'civ soc org act profess memb org',
  'non profit org man act profess memb org',
  'intern trad develop act profess memb org'])

In [102]:
# convert to dataFrame
data_cF_cD_ps_stem2 = pd.DataFrame(data_cF_cD_ps_stem2, columns = ['Porter'])
data_cF_cD_lan_stem2 = pd.DataFrame(data_cF_cD_lan_stem2, columns = ['Lancaster'])

data_cF_cD_ps_stem2, data_cF_cD_lan_stem2

(                                                       Porter
 0              farm crop anim product hunt relat servic activ
 1             ranch crop anim product hunt relat servic activ
 2             dairi crop anim product hunt relat servic activ
 3                                     fisheri fish aquacultur
 4                                      mine metal coal lignit
 ..                                                        ...
 139                individu famili servic person servic activ
 140         religi institut activ profession membership organ
 141      civic social organ activ profession membership organ
 142  non profit organ manag activ profession membership organ
 143    intern trade develop activ profession membership organ

 [144 rows x 1 columns],
                                     Lancaster
 0     farm crop anim produc hunt rel serv act
 1    ranch crop anim produc hunt rel serv act
 2    dairy crop anim produc hunt rel serv act
 3                       fishery fish aquacult
 4                         min met coal lignit
 ..                                        ...
 139         individ famy serv person serv act
 140      religy institut act profess memb org
 141          civ soc org act profess memb org
 142   non profit org man act profess memb org
 143  intern trad develop act profess memb org

 [144 rows x 1 columns])

In [103]:
# save excel file
data_cF_cD_ps_stem2.to_excel('ColF and ColD_PorterStem.xlsx', sheet_name= 'Porter', index= False, freeze_panes=(1,1))
data_cF_cD_lan_stem2.to_excel('ColF and ColD_LancasterStem.xlsx', sheet_name= 'Lancaster', index= False, freeze_panes=(1,1))

---------------- FULL TEXT TASK 1 ----------------------

Doing the same for the **data_clean** of TASK1 for Porter and Lancaster.

In [104]:
# create the pandas dataframe for Porter stemmer
data_ps_stem = pd.DataFrame(data_clean, columns = ['Full_text_TASK1'])

# to see the full column  (instruction above, no needed for this anymore)                        
# pd.set_option('display.max_colwidth', None) 


data_ps_stem['Porter_stemmed'] = data_ps_stem['Full_text_TASK1'].apply(lambda x: [ps.stem(y) for y in x])
data_ps_stem.head(10)

,Full_text_TASK1,Porter_stemmed
0,"[farming, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]","[farm, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]"
1,"[ranching, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]","[ranch, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]"
2,"[dairy, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]","[dairi, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]"
3,"[fishery, agriculture, forestry, fishing, aquaculture]","[fisheri, agricultur, forestri, fish, aquacultur]"
4,"[mining, metals, energy, b, quarrying, coal, lignite]","[mine, metal, energi, b, quarri, coal, lignit]"
5,"[oil, energy, mining, b, quarrying, extraction, crude, petroleum, natural, gas]","[oil, energi, mine, b, quarri, extract, crude, petroleum, natur, ga]"
6,"[defense, space, manufacturing, c, manufacture, fabricated, metal, products, except, machinery, equip]","[defens, space, manufactur, c, manufactur, fabric, metal, product, except, machineri, equip]"
7,"[pharmaceuticals, healthcare, c, manufacturing, manufacture, medicinal, chemical, botanical, products]","[pharmaceut, healthcar, c, manufactur, manufactur, medicin, chemic, botan, product]"
8,"[food, production, manufacturing, c, manufacture, products]","[food, product, manufactur, c, manufactur, product]"
9,"[aviation, aerospace, manufacturing, c, manufacture, transport, equipment]","[aviat, aerospac, manufactur, c, manufactur, transport, equip]"

I will keep data_ps_stem just with the Porter_stemmed column

In [105]:
# remove 'Full_text_TASK1' and keep just 'stemmed'
data_ps_stem = data_ps_stem.drop(columns=['Full_text_TASK1'])

In [106]:
data_ps_stem.head(5)

                                                                         Porter_stemmed
0   [farm, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]
1  [ranch, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]
2  [dairi, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]
3                                     [fisheri, agricultur, forestri, fish, aquacultur]
4                                        [mine, metal, energi, b, quarri, coal, lignit]

I will create a new variable **data_ps_stem2** equal to the **data_ps_stem** and it will converted to series, the words will be concatenated per row, and again converted to dataframe. Finally, an excel file will be created.

In [107]:
data_ps_stem2 = data_ps_stem.squeeze()
data_ps_stem2

0       [farm, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]
1      [ranch, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]
2      [dairi, agricultur, forestri, fish, crop, anim, product, hunt, relat, servic, activ]
3                                         [fisheri, agricultur, forestri, fish, aquacultur]
4                                            [mine, metal, energi, b, quarri, coal, lignit]
                                               ...
139                            [individu, famili, servic, nonprofit, servic, activ, person]
140             [religi, institut, nonprofit, servic, activ, profession, membership, organ]
141         [civic, social, organ, nonprofit, servic, activ, profession, membership, organ]
142    [non, profit, organ, manag, nonprofit, servic, activ, profession, membership, organ]
143       [intern, trade, develop, nonprofit, servic, activ, profession, membership, organ]
Name: Porter_stemmed, Length: 144, dtype: object

In [108]:
type(data_ps_stem2)

pandas.core.series.Series

In [109]:
data_ps_stem2 = [' '.join(tup) for tup in data_ps_stem2]
data_ps_stem2

['farm agricultur forestri fish crop anim product hunt relat servic activ',
 'ranch agricultur forestri fish crop anim product hunt relat servic activ',
 'dairi agricultur forestri fish crop anim product hunt relat servic activ',
 'fisheri agricultur forestri fish aquacultur',
 'mine metal energi b quarri coal lignit',
 'oil energi mine b quarri extract crude petroleum natur ga',
 'defens space manufactur c manufactur fabric metal product except machineri equip',
 'pharmaceut healthcar c manufactur manufactur medicin chemic botan product',
 'food product manufactur c manufactur product',
 'aviat aerospac manufactur c manufactur transport equip',
 'automot manufactur c manufactur motor vehicl trailer semi',
 'chemic manufactur c manufactur chemic product',
 'machineri manufactur c manufactur equip n e',
 'shipbuild manufactur c manufactur transport equip',
 'textil manufactur c manufactur',
 'paper forest product manufactur c manufactur',
 'railroad manufactur manufactur c transport equip',
 'print media commun c manufactur reproduct record',
 'electr electron manufactur c manufactur comput optic product',
 'plastic manufactur c manufactur rubber product',
 'renew environ manufactur c',
 'glass ceram concret manufactur c',
 'packag contain manufactur c',
 'industri autom manufactur c',
 'util energi mine electr ga steam air condit suppli',
 'construct f build',
 'build materi construct f map',
 'civil engin construct f',
 'cosmet consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'apparel fashion consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'sport good consum g wholesal retail trade repair motor vehicl motorcycl except',
 'tobacco consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'supermarket retail g wholesal trade repair motor vehicl motorcycl except',
 'consum electron good g wholesal retail trade repair motor vehicl motorcycl except',
 'consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'furnitur consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'retail g wholesal trade repair motor vehicl motorcycl except',
 'food beverag consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'consum servic good g wholesal retail trade repair motor vehicl motorcycl except',
 'wholesal retail g trade repair motor vehicl motorcycl except',
 'wine spirit consum good g wholesal retail trade repair motor vehicl motorcycl except',
 'luxuri good jewelri consum g wholesal retail trade repair motor vehicl motorcycl except',
 'packag freight deliveri transport logist h storag postal courier activ',
 'transport truck railroad logist h storag land transport via pipelin',
 'wareh transport logist h storag support activ',
 'airlin aviat recreat travel h transport storag air transport',
 'maritim transport logist h storag water transport',
 'logist suppli chain transport h storag wareh support activ',
 'import export transport logist h storag wareh support activ',
 'hospit recreat travel accommod food servic activ',
 'restaur recreat travel accommod food servic activ servic',
 'comput hardwar netwok j inform commun program consult relat activ',
 'comput softwar servic j inform commun program consult relat activ',
 'comput network hardwar netwok j inform commun program consult relat activ',
 'internet softwar servic j inform commun telecommun',
 'semiconductor hardwar netwok j inform commun comput program consult relat activ',
 'telecommun hardwar netwok j inform commun',
 'motion pictur film entertain j inform commun pictur video televis programm product sound record',
 'broadcast media entertain j inform commun program broadcast activ',
 'newspap media commun j inform commun publish activ',
 'publish media commun j inform commun activ',
 'inform technolog servic softwar j commun servic activ',
 'write edit media commun j inform commun publish activ',
 'comput game entertain j inform commun publish activ',
 'onlin media commun j inform commun servic activ',
 'comput network secur softwar servic j inform commun program consult relat activ',
 'wireless hardwar netwok j inform commun comput program consult relat activ',
 'media product entertain j inform commun motion pictur video televis programm sound record',
 'bank financ k financi insur activ servic except pension fund',
 'insur financ k financi activ reinsur pension fund except compulsori social',
 'financi servic financ k insur activ servic except pension fund',
 'invest bank financ k financi insur activ servic except pension fund',
 'invest manag financ k financi insur activ servic except pension fund',
 'ventur capit privat equiti financ k financi insur activ servic except pension fund',
 'capit market financ k financi insur activ auxiliari servic',
 'real estat l activ',
 'commerci real estat l activ',
 'law practic legal profession scientif technic activ account',
 'legal servic profession scientif technic activ account',
 'manag consult corpor servic profession scientif technic activ head offic consult',
 'biotechnolog healthcar profession scientif technic activ research develop',
 'veterinari healthcar profession scientif technic activ',
 'account corpor servic profession scientif technic activ legal',
 'architectur plan design profession scientif technic activ architectur engin test analysi',
 'research educ profession scientif technic activ develop',
 'execut offic corpor servic profession scientif technic activ head offic manag consult',
 'market advertis media commun profession scientif technic activ market research',
 'inform servic corpor profession scientif technic activ head offic manag consult',
 'environment servic corpor profession scientif technic activ',
 'market research media commun profession scientif technic activ advertis',
 'public relat commun media profession scientif technic activ head offic manag consult',
 'design profession scientif technic activ',
 'profession train coach corpor servic scientif technic activ',
 'translat local media commun profession scientif technic activ',
 'event servic corpor profession scientif technic activ',
 'nanotechnolog hardwar network profession scientif technic activ research develop',
 'altern disput resolut legal profession scientif technic activ account',
 'outsourc offshor corpor servic profession scientif technic activ',
 'mechan industri engin manufactur profession scientif technic activ research develop',
 'photographi art profession scientif technic activ',
 'graphic design profession scientif technic activ',
 'leisur travel tourism recreat n administr support servic activ agenc tour oper reserv relat',
 'recreat facil servic recreat travel n administr support servic activ build landscap',
 'fundrais nonprofit n administr support servic activ offic busi',
 'staf recruit corpor servic n administr support servic activ employ',
 'secur investig corpor servic n administr support servic activ investig',
 'facil servic corpor n administr support servic activ build landscap',
 'human resourc corpor servic n administr support servic activ employ',
 'busi suppli equip corpor servic n administr support servic activ offic',
 'militari public safeti administr defenc compulsori social secur',
 'legisl offic public administr defenc compulsori social secur',
 'judiciari public administr defenc compulsori social secur',
 'intern affair public administr defenc compulsori social secur',
 'govern administr public defenc compulsori social secur',
 'law enforc public safeti administr defenc compulsori social secur',
 'public safeti administr defenc compulsori social secur',
 'public polici administr defenc compulsori social secur',
 'polit organ public administr defenc compulsori social secur',
 'govern relat public administr defenc compulsori social secur',
 'primari secondari educ p',
 'higher educ p',
 'educ manag p',
 'e learn educ p',
 'medic practic healthcar q human health social work activ',
 'hospit health care healthcar q human social work activ',
 'medic devic healthcar q human health social work activ',
 'altern medicin well fit q human health social work activ',
 'mental health care healthcar q human social work activ',
 'entertain r art recreat creativ activ',
 'gambl casino recreat travel r art entertain bet activ',
 'sport recreat travel r art entertain activ amus',
 'museum institut nonprofit r art entertain recreat librari archiv cultur activ',
 'fine art r art entertain recreat creativ activ',
 'perform art art r entertain recreat creativ activ',
 'librari nonprofit r art entertain recreat archiv museum cultur activ',
 'art craft art r entertain recreat creativ activ',
 'music entertain r art recreat creativ activ',
 'health well fit r art entertain recreat sport activ amus',
 'anim entertain r art recreat creativ activ',
 'individu famili servic nonprofit servic activ person',
 'religi institut nonprofit servic activ profession membership organ',
 'civic social organ nonprofit servic activ profession membership organ',
 'non profit organ manag nonprofit servic activ profession membership organ',
 'intern trade develop nonprofit servic activ profession membership organ']

In [110]:
data_ps_stem2 = pd.DataFrame(data_ps_stem2, columns = ['Porter'])
data_ps_stem2.head()

                                                                     Porter
0   farm agricultur forestri fish crop anim product hunt relat servic activ
1  ranch agricultur forestri fish crop anim product hunt relat servic activ
2  dairi agricultur forestri fish crop anim product hunt relat servic activ
3                               fisheri agricultur forestri fish aquacultur
4                                    mine metal energi b quarri coal lignit

To keep an excel file **TASK1_PorterStem.xlsx**

In [111]:
# save an excel file
data_ps_stem2.to_excel('TASK1_PorterStem.xlsx', sheet_name = 'Porter', index= False, freeze_panes=(1,1))

Now, I will do the same with the **data_clean** for **Lancaster**.

In [112]:
# create the pandas dataframe for Lancaster stemmer
data_lan_stem = pd.DataFrame(data_clean, columns = ['Full_text_TASK1'])

data_lan_stem['Lancaster_stemmed'] = data_lan_stem['Full_text_TASK1'].apply(lambda x: [lan.stem(y) for y in x])
data_lan_stem.head(10)

,Full_text_TASK1,Lancaster_stemmed
0,"[farming, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]","[farm, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]"
1,"[ranching, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]","[ranch, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]"
2,"[dairy, agriculture, forestry, fishing, crop, animal, production, hunting, related, service, activities]","[dairy, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]"
3,"[fishery, agriculture, forestry, fishing, aquaculture]","[fishery, agricult, forestry, fish, aquacult]"
4,"[mining, metals, energy, b, quarrying, coal, lignite]","[min, met, energy, b, quarry, coal, lignit]"
5,"[oil, energy, mining, b, quarrying, extraction, crude, petroleum, natural, gas]","[oil, energy, min, b, quarry, extract, crud, petrole, nat, gas]"
6,"[defense, space, manufacturing, c, manufacture, fabricated, metal, products, except, machinery, equip]","[defens, spac, manufact, c, manufact, fabr, met, produc, exceiv, machinery, equip]"
7,"[pharmaceuticals, healthcare, c, manufacturing, manufacture, medicinal, chemical, botanical, products]","[pharmaceut, healthc, c, manufact, manufact, medicin, chem, bot, produc]"
8,"[food, production, manufacturing, c, manufacture, products]","[food, produc, manufact, c, manufact, produc]"
9,"[aviation, aerospace, manufacturing, c, manufacture, transport, equipment]","[avy, aerospac, manufact, c, manufact, transport, equip]"

In [113]:
# remove 'Full_text_TASK1' and keep just 'stemmed'
data_lan_stem = data_lan_stem.drop(columns=['Full_text_TASK1'])

In [114]:
data_lan_stem.head(5)

                                                             Lancaster_stemmed
0   [farm, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]
1  [ranch, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]
2  [dairy, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]
3                                [fishery, agricult, forestry, fish, aquacult]
4                                  [min, met, energy, b, quarry, coal, lignit]

I will create a new variable **data_lan_stem2** equal to the **data_lan_stem** and it will converted to series, the words will be concatenated per row, and again converted to dataframe. Finally, an excel file will be created.

In [115]:
data_lan_stem2 = data_lan_stem.squeeze()
data_lan_stem2

0       [farm, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]
1      [ranch, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]
2      [dairy, agricult, forestry, fish, crop, anim, produc, hunt, rel, serv, act]
3                                    [fishery, agricult, forestry, fish, aquacult]
4                                      [min, met, energy, b, quarry, coal, lignit]
                                          ...
139                            [individ, famy, serv, nonprofit, serv, act, person]
140                   [religy, institut, nonprofit, serv, act, profess, memb, org]
141                      [civ, soc, org, nonprofit, serv, act, profess, memb, org]
142              [non, profit, org, man, nonprofit, serv, act, profess, memb, org]
143              [intern, trad, develop, nonprofit, serv, act, profess, memb, org]
Name: Lancaster_stemmed, Length: 144, dtype: object

In [116]:
type(data_lan_stem2)

pandas.core.series.Series

In [117]:
data_lan_stem2 = [' '.join(tup) for tup in data_lan_stem2]
data_lan_stem2

['farm agricult forestry fish crop anim produc hunt rel serv act',
 'ranch agricult forestry fish crop anim produc hunt rel serv act',
 'dairy agricult forestry fish crop anim produc hunt rel serv act',
 'fishery agricult forestry fish aquacult',
 'min met energy b quarry coal lignit',
 'oil energy min b quarry extract crud petrole nat gas',
 'defens spac manufact c manufact fabr met produc exceiv machinery equip',
 'pharmaceut healthc c manufact manufact medicin chem bot produc',
 'food produc manufact c manufact produc',
 'avy aerospac manufact c manufact transport equip',
 'automot manufact c manufact mot vehic trail sem',
 'chem manufact c manufact chem produc',
 'machinery manufact c manufact equip n e',
 'shipbuild manufact c manufact transport equip',
 'textil manufact c manufact',
 'pap forest produc manufact c manufact',
 'railroad manufact manufact c transport equip',
 'print med commun c manufact reproduc record',
 'elect electron manufact c manufact comput opt produc',
 'plast manufact c manufact rub produc',
 'renew environ manufact c',
 'glass ceram concret manufact c',
 'pack contain manufact c',
 'indust autom manufact c',
 'util energy min elect gas steam air condit supply',
 'construct f build',
 'build mat construct f map',
 'civil engin construct f',
 'cosmet consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'apparel fash consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'sport good consum g wholes retail trad repair mot vehic motorcyc exceiv',
 'tobacco consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'supermarket retail g wholes trad repair mot vehic motorcyc exceiv',
 'consum electron good g wholes retail trad repair mot vehic motorcyc exceiv',
 'consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'furnit consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'retail g wholes trad repair mot vehic motorcyc exceiv',
 'food bev consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'consum serv good g wholes retail trad repair mot vehic motorcyc exceiv',
 'wholes retail g trad repair mot vehic motorcyc exceiv',
 'win spirit consum good g wholes retail trad repair mot vehic motorcyc exceiv',
 'luxury good jewelry consum g wholes retail trad repair mot vehic motorcyc exceiv',
 'pack freight delivery transport log h stor post coury act',
 'transport truck railroad log h stor land transport via pipelin',
 'wareh transport log h stor support act',
 'airlin avy recr travel h transport stor air transport',
 'maritim transport log h stor wat transport',
 'log supply chain transport h stor wareh support act',
 'import export transport log h stor wareh support act',
 'hospit recr travel accommod food serv act',
 'resta recr travel accommod food serv act serv',
 'comput hardw netwok j inform commun program consult rel act',
 'comput softw serv j inform commun program consult rel act',
 'comput network hardw netwok j inform commun program consult rel act',
 'internet softw serv j inform commun telecommun',
 'semiconduc hardw netwok j inform commun comput program consult rel act',
 'telecommun hardw netwok j inform commun',
 'mot pict film entertain j inform commun pict video televid program produc sound record',
 'broadcast med entertain j inform commun program broadcast act',
 'newspap med commun j inform commun publ act',
 'publ med commun j inform commun act',
 'inform technolog serv softw j commun serv act',
 'writ edit med commun j inform commun publ act',
 'comput gam entertain j inform commun publ act',
 'onlin med commun j inform commun serv act',
 'comput network sec softw serv j inform commun program consult rel act',
 'wireless hardw netwok j inform commun comput program consult rel act',
 'med produc entertain j inform commun mot pict video televid program sound record',
 'bank fin k fin ins act serv exceiv pend fund',
 'ins fin k fin act reins pend fund exceiv compuls soc',
 'fin serv fin k ins act serv exceiv pend fund',
 'invest bank fin k fin ins act serv exceiv pend fund',
 'invest man fin k fin ins act serv exceiv pend fund',
 'vent capit priv equ fin k fin ins act serv exceiv pend fund',
 'capit market fin k fin ins act auxy serv',
 'real est l act',
 'commerc real est l act',
 'law pract leg profess sci techn act account',
 'leg serv profess sci techn act account',
 'man consult corp serv profess sci techn act head off consult',
 'biotechnolog healthc profess sci techn act research develop',
 'veterin healthc profess sci techn act',
 'account corp serv profess sci techn act leg',
 'architect plan design profess sci techn act architect engin test analys',
 'research educ profess sci techn act develop',
 'execut off corp serv profess sci techn act head off man consult',
 'market advert med commun profess sci techn act market research',
 'inform serv corp profess sci techn act head off man consult',
 'environ serv corp profess sci techn act',
 'market research med commun profess sci techn act advert',
 'publ rel commun med profess sci techn act head off man consult',
 'design profess sci techn act',
 'profess train coach corp serv sci techn act',
 'transl loc med commun profess sci techn act',
 'ev serv corp profess sci techn act',
 'nanotechnolog hardw network profess sci techn act research develop',
 'altern disput resolv leg profess sci techn act account',
 'outsourc offsh corp serv profess sci techn act',
 'mech indust engin manufact profess sci techn act research develop',
 'photograph art profess sci techn act',
 'graph design profess sci techn act',
 'leis travel tour recr n admin support serv act ag tour op reserv rel',
 'recr facil serv recr travel n admin support serv act build landscap',
 'fundra nonprofit n admin support serv act off busy',
 'staff recruit corp serv n admin support serv act employ',
 'sec investig corp serv n admin support serv act investig',
 'facil serv corp n admin support serv act build landscap',
 'hum resourc corp serv n admin support serv act employ',
 'busy supply equip corp serv n admin support serv act off',
 'milit publ saf admin def compuls soc sec',
 'legisl off publ admin def compuls soc sec',
 'judicy publ admin def compuls soc sec',
 'intern affair publ admin def compuls soc sec',
 'govern admin publ def compuls soc sec',
 'law enforc publ saf admin def compuls soc sec',
 'publ saf admin def compuls soc sec',
 'publ policy admin def compuls soc sec',
 'polit org publ admin def compuls soc sec',
 'govern rel publ admin def compuls soc sec',
 'prim second educ p',
 'high educ p',
 'educ man p',
 'e learn educ p',
 'med pract healthc q hum heal soc work act',
 'hospit heal car healthc q hum soc work act',
 'med dev healthc q hum heal soc work act',
 'altern medicin wel fit q hum heal soc work act',
 'ment heal car healthc q hum soc work act',
 'entertain r art recr cre act',
 'gambl casino recr travel r art entertain bet act',
 'sport recr travel r art entertain act amus',
 'museum institut nonprofit r art entertain recr libr arch cult act',
 'fin art r art entertain recr cre act',
 'perform art art r entertain recr cre act',
 'libr nonprofit r art entertain recr arch museum cult act',
 'art craft art r entertain recr cre act',
 'mus entertain r art recr cre act',
 'heal wel fit r art entertain recr sport act amus',
 'anim entertain r art recr cre act',
 'individ famy serv nonprofit serv act person',
 'religy institut nonprofit serv act profess memb org',
 'civ soc org nonprofit serv act profess memb org',
 'non profit org man nonprofit serv act profess memb org',
 'intern trad develop nonprofit serv act profess memb org']

In [118]:
data_lan_stem2 = pd.DataFrame(data_lan_stem2, columns = ['Lancaster'])
data_lan_stem2.head()

                                                         Lancaster
0   farm agricult forestry fish crop anim produc hunt rel serv act
1  ranch agricult forestry fish crop anim produc hunt rel serv act
2  dairy agricult forestry fish crop anim produc hunt rel serv act
3                          fishery agricult forestry fish aquacult
4                              min met energy b quarry coal lignit

To keep an excel file **TASK1_LancasterStem.xlsx**

In [119]:
# save an excel file
data_lan_stem2.to_excel('TASK1_LancasterStem.xlsx', sheet_name = 'Lancaster', index= False, freeze_panes=(1,1))

--------------- NOW WORKING WITH **IAB** -------------------

Now, I will do the same **Porter stemmer** on **IAB**.

In [120]:
# create the pandas dataframe for Porter stemmer in IAB
data_IAB_ps_stem = pd.DataFrame(data_IAB_clean, columns = ['Text_IAB'])

In [121]:
data_IAB_ps_stem['Porter_stemmed'] = data_IAB_ps_stem['Text_IAB'].apply(lambda x: [ps.stem(y) for y in x])
data_IAB_ps_stem.head(10)

,Text_IAB,Porter_stemmed
0,[automotive],[automot]
1,"[auto, body, styles, automotive]","[auto, bodi, style, automot]"
2,"[commercial, trucks, automotive, auto, body, styles]","[commerci, truck, automot, auto, bodi, style]"
3,"[sedan, automotive, auto, body, styles]","[sedan, automot, auto, bodi, style]"
4,"[station, wagon, automotive, auto, body, styles]","[station, wagon, automot, auto, bodi, style]"
5,"[suv, automotive, auto, body, styles]","[suv, automot, auto, bodi, style]"
6,"[van, automotive, auto, body, styles]","[van, automot, auto, bodi, style]"
7,"[convertible, automotive, auto, body, styles]","[convert, automot, auto, bodi, style]"
8,"[coupe, automotive, auto, body, styles]","[coup, automot, auto, bodi, style]"
9,"[crossover, automotive, auto, body, styles]","[crossov, automot, auto, bodi, style]"

In [122]:
# remove 'Full_text_TASK1' and keep just 'stemmed'   JuST run this one
data_IAB_ps_stem = data_IAB_ps_stem.drop(columns=['Text_IAB'])

In [123]:
data_IAB_ps_stem.head(10)

                                  Porter_stemmed
0                                      [automot]
1                   [auto, bodi, style, automot]
2  [commerci, truck, automot, auto, bodi, style]
3            [sedan, automot, auto, bodi, style]
4   [station, wagon, automot, auto, bodi, style]
5              [suv, automot, auto, bodi, style]
6              [van, automot, auto, bodi, style]
7          [convert, automot, auto, bodi, style]
8             [coup, automot, auto, bodi, style]
9          [crossov, automot, auto, bodi, style]

To do the work around to concantenate words in each row

In [124]:
data_IAB_ps_stem2 = data_IAB_ps_stem.squeeze()
data_IAB_ps_stem2

0                                           [automot]
1                        [auto, bodi, style, automot]
2       [commerci, truck, automot, auto, bodi, style]
3                 [sedan, automot, auto, bodi, style]
4        [station, wagon, automot, auto, bodi, style]
                            ...
686            [adult, video, game, game, game, genr]
687    [casino, gambl, video, game, game, game, genr]
688           [famili, video, game, game, game, genr]
689           [horror, video, game, game, game, genr]
690             [race, video, game, game, game, genr]
Name: Porter_stemmed, Length: 691, dtype: object

In [125]:
data_IAB_ps_stem2 = [' '.join(tup) for tup in data_IAB_ps_stem2]
data_IAB_ps_stem2

['automot',
 'auto bodi style automot',
 'commerci truck automot auto bodi style',
 'sedan automot auto bodi style',
 'station wagon automot auto bodi style',
 'suv automot auto bodi style',
 'van automot auto bodi style',
 'convert automot auto bodi style',
 'coup automot auto bodi style',
 'crossov automot auto bodi style',
 'hatchback automot auto bodi style',
 'microcar automot auto bodi style',
 'minivan automot auto bodi style',
 'road vehicl automot auto bodi style',
 'pickup truck automot auto bodi style',
 'auto type automot',
 'budget car automot auto type',
 'certifi pre own car automot auto type',
 'classic car automot auto type',
 'concept car automot auto type',
 'driverless car automot auto type',
 'green vehicl automot auto type',
 'luxuri car automot auto type',
 'perform car automot auto type',
 'car cultur automot',
 'dash cam video automot',
 'motorcycl automot',
 'road side assist automot',
 'scooter automot',
 'auto buy sell automot',
 'auto insur automot',
 'auto part automot',
 'auto recal automot',
 'auto repair automot',
 'auto safeti automot',
 'auto show automot',
 'auto technolog automot',
 'auto infotain technolog automot technolog',
 'auto navig system automot technolog',
 'auto safeti technolog automot technolog',
 'auto rental automot',
 'book literatur',
 'art photographi book literatur',
 'comic graphic novel book literatur',
 'fiction book literatur',
 'poetri book literatur',
 'busi financ',
 'busi financ',
 'busi account financ',
 'human resourc busi financ',
 'larg busi financ',
 'logist busi financ',
 'market advertis busi financ',
 'sale busi financ',
 'small medium size busi financ',
 'startup busi financ',
 'busi administr financ',
 'busi bank financ',
 'angel invest busi financ bank',
 'bankruptci busi financ bank',
 'busi loan financ bank',
 'debt factor invoic discount busi financ bank',
 'merger acquisit busi financ bank',
 'privat equiti busi financ bank',
 'sale leas back busi financ bank',
 'ventur capit busi financ bank',
 'busi financ',
 'busi oper financ',
 'consum issu busi financ',
 'recal busi financ consum issu',
 'execut leadership manag busi financ',
 'govern busi financ',
 'green solut busi financ',
 'busi util financ',
 'economi busi financ',
 'commod busi financ economi',
 'currenc busi financ economi',
 'financi crisi busi financ economi',
 'financi reform busi financ economi',
 'financi regul busi financ economi',
 'gasolin price busi financ economi',
 'hous market busi financ economi',
 'interest rate busi financ economi',
 'job market busi financ economi',
 'industri busi financ',
 'advertis industri busi financ industri',
 'educ industri busi financ industri',
 'entertain industri busi financ industri',
 'environment servic industri busi financ industri',
 'financi industri busi financ industri',
 'food industri busi financ industri',
 'healthcar industri busi financ industri',
 'hospit industri busi financ industri',
 'inform servic industri busi financ industri',
 'legal servic industri busi financ industri',
 'logist transport industri busi financ industri',
 'agricultur busi financ industri',
 'manag consult industri busi financ industri',
 'manufactur industri busi financ industri',
 'mechan industri engin industri busi financ industri',
 'media industri busi financ industri',
 'metal industri busi financ industri',
 'non profit organ busi financ industri',
 'pharmaceut industri busi financ industri',
 'power energi industri busi financ industri',
 'publish industri busi financ industri',
 'real estat industri busi financ industri',
 'apparel industri busi financ industri',
 'retail industri busi financ industri',
 'technolog industri busi financ industri',
 'telecommun industri busi financ industri',
 'automot industri busi financ industri',
 'aviat industri busi financ industri',
 'biotech biomed industri busi financ industri',
 'civil engin industri busi financ industri',
 'construct industri busi financ industri',
 'defens industri busi financ industri',
 'career',
 'apprenticeship career',
 'career advic career',
 'career plan career',
 'job search career',
 'job fair career search',
 'resum write advic career job search',
 'remot work career',
 'vocat train career',
 'educ',
 'adult educ',
 'privat school educ',
 'secondari educ',
 'special educ',
 'colleg educ',
 'colleg plan educ',
 'postgradu educ colleg',
 'profession school educ colleg postgradu',
 'undergradu educ colleg',
 'earli childhood educ',
 'educ assess educ',
 'standard test educ educ assess',
 'homeschool educ',
 'homework studi educ',
 'languag learn educ',
 'onlin educ',
 'primari educ',
 'event',
 'award show event',
 'busi expo confer event',
 'fan convent event',
 'holiday',
 'nation civic holiday',
 'attract',
 'amus theme park attract',
 'histor site landmark tour attract',
 'mall shop center attract',
 'museum galleri attract',
 'nightclub attract',
 'outdoor attract activ',
 'park attract natur',
 'theater venu attract',
 'zoo aquarium attract',
 'bar restaur attract',
 'casino gambl attract',
 'parti suppli decor shop',
 'person celebr life event',
 'anniversari person celebr life event',
 'wed person celebr life event',
 'babi shower person celebr life event',
 'bachelor parti person celebr life event',
 'bachelorett parti person celebr life event',
 'birth person celebr life event',
 'birthday person celebr life event',
 'funer person celebr life event',
 'graduat person celebr life event',
 'prom person celebr life event',
 'famili relationship',
 'bereav famili relationship',
 'date famili relationship',
 'divorc famili relationship',
 'eldercar famili relationship',
 'marriag civil union famili relationship',
 'parent famili relationship',
 'adopt foster famili relationship parent',
 'daycar pre school famili relationship parent',
 'internet safeti famili relationship parent',
 'parent babi toddler famili relationship',
 'parent children age famili relationship',
 'parent teen famili relationship',
 'special need kid famili relationship parent',
 'singl life famili relationship',
 'fine art',
 'costum fine art',
 'danc fine art',
 'design fine art',
 'digit art fine art',
 'fine art photographi',
 'modern art fine',
 'opera fine art',
 'theater fine art',
 'food drink',
 'alcohol beverag food drink',
 'vegan diet food drink',
 'vegetarian diet food drink',
 'world cuisin food drink',
 'barbecu grill food drink',
 'cook food drink',
 'dessert bake food drink',
 'dine food drink',
 'food allergi drink',
 'food movement drink',
 'healthi cook eat food drink',
 'non alcohol beverag food drink',
 'healthi live',
 'children health healthi live',
 'fit exercis healthi live',
 'particip sport healthi live fit exercis',
 'run jog healthi live fit exercis',
 'men health healthi live',
 'nutrit healthi live',
 'senior health healthi live',
 'weight loss healthi live',
 'well healthi live',
 'altern medicin healthi live well',
 'herb supplement healthi live well altern medicin',
 'holist health healthi live well altern medicin',
 'physic therapi healthi live well',
 'smoke cessat healthi live well',
 'women health healthi live',
 'hobbi interest',
 'antiqu antiqu hobbi interest',
 'magic illus hobbi interest',
 'model toy hobbi interest',
 'music instrument hobbi interest',
 'paranorm phenomena hobbi interest',
 'radio control hobbi interest',
 'sci fi fantasi hobbi interest',
 'workshop class hobbi interest',
 'art craft hobbi interest',
 'beadwork hobbi interest art craft',
 'candl soap make hobbi interest art craft',
 'draw sketch hobbi interest art craft',
 'jewelri make hobbi interest art craft',
 'needlework hobbi interest art craft',
 'paint hobbi interest art craft',
 'photographi hobbi interest art craft',
 'scrapbook hobbi interest art craft',
 'woodwork hobbi interest art craft',
 'beekeep hobbi interest',
 'birdwatch hobbi interest',
 'cigar hobbi interest',
 'collect hobbi interest',
 'comic book hobbi interest collect',
 'stamp coin hobbi interest collect',
 'content product hobbi interest',
 'audio product hobbi interest content',
 'freelanc write hobbi interest content product',
 'screenwrit hobbi interest content product',
 'video product hobbi interest content',
 'game puzzl hobbi interest',
 'board game puzzl hobbi interest',
 'card game hobbi interest puzzl',
 'roleplay game hobbi interest puzzl',
 'genealog ancestri hobbi interest',
 'home garden',
 'garden home garden',
 'remodel construct home garden',
 'smart home garden',
 'home applianc garden',
 'home entertain garden',
 'home improv garden',
 'home secur garden',
 'indoor environment qualiti home garden',
 'interior decor home garden',
 'landscap home garden',
 'outdoor decor home garden',
 'medic health',
 'diseas condit medic health',
 'allergi medic health diseas condit',
 'ear nose throat condit medic health diseas',
 'endocrin metabol diseas medic health condit',
 'hormon disord medic health diseas condit endocrin metabol',
 'menopaus medic health diseas condit endocrin metabol',
 'thyroid disord medic health diseas condit endocrin metabol',
 'eye vision condit medic health diseas',
 'foot health medic diseas condit',
 'heart cardiovascular diseas medic health condit',
 'infecti diseas medic health condit',
 'injuri medic health diseas condit',
 'first aid medic health diseas condit injuri',
 'lung respiratori health medic diseas condit',
 'mental health medic diseas condit',
 'reproduct health medic diseas condit',
 'birth control medic health diseas condit reproduct',
 'infertil medic health diseas condit reproduct',
 'pregnanc medic health diseas condit reproduct',
 'blood disord medic health diseas condit',
 'sexual health medic diseas condit',
 'sexual condit medic health diseas',
 'skin dermatolog medic health diseas condit',
 'sleep disord medic health diseas condit',
 'substanc abus medic health diseas condit',
 'bone joint condit medic health diseas',
 'brain nervou system disord medic health diseas condit',
 'cancer medic health diseas condit',
 'cold flu medic health diseas condit',
 'dental health medic diseas condit',
 'diabet medic health diseas condit',
 'digest disord medic health diseas condit',
 'medic test health',
 'pharmaceut drug medic health',
 'surgeri medic health',
 'vaccin medic health',
 'cosmet medic servic health',
 'entertain',
 'movi entertain',
 'music entertain',
 'adult contemporari music',
 'soft ac music adult contemporari',
 'urban ac music adult contemporari',
 'adult album altern music',
 'altern music',
 'children music',
 'classic hit music',
 'classic music',
 'colleg radio music',
 'comedi music audio',
 'contemporari hit pop top music',
 'countri music',
 'danc electron music',
 'world intern music',
 'songwrit folk music',
 'gospel music',
 'hip hop music',
 'inspir new age music',
 'jazz music',
 'oldi adult standard music',
 'regga music',
 'blue music',
 'religi music audio',
 'r b soul funk music',
 'rock music',
 'album orient rock music',
 'altern rock music',
 'classic rock music',
 'hard rock music',
 'soft rock music',
 'soundtrack tv showtun music',
 'urban contemporari music audio',
 'varieti music audio',
 'crime',
 'disast',
 'law',
 'polit',
 'elect polit',
 'polit issu polici polit',
 'civic affair polit',
 'war conflict',
 'person financ',
 'consum bank person financ',
 'financi assist person financ',
 'govern support welfar person financ financi assist',
 'student financi aid person financ assist',
 'financi plan person financ',
 'frugal live person financ',
 'insur person financ',
 'health insur person financ',
 'home insur person financ',
 'life insur person financ',
 'motor insur person financ',
 'pet insur person financ',
 'travel insur person financ',
 'person debt financ',
 'credit card person financ debt',
 'home financ person financ debt',
 'person loan financ debt',
 'student loan person financ debt',
 'person invest financ',
 'hedg fund person financ invest',
 'mutual fund person financ invest',
 'option person financ invest',
 'stock bond person financ invest',
 'person tax financ',
 'retir plan person financ',
 'home util person financ',
 'ga electr person financ home util',
 'internet servic provid person financ home util',
 'phone servic person financ home util',
 'water servic person financ home util',
 'pet',
 'bird pet',
 'cat pet',
 'dog pet',
 'fish aquarium pet',
 'larg anim pet',
 'pet adopt pet',
 'reptil pet',
 'veterinari medicin pet',
 'pet suppli pet',
 'pop cultur',
 'celebr death pop cultur',
 'celebr famili pop cultur',
 'celebr home pop cultur',
 'celebr pregnanc pop cultur',
 'celebr relationship pop cultur',
 'celebr scandal pop cultur',
 'celebr style pop cultur',
 'humor satir pop cultur',
 'real estat',
 'apart real estat',
 'retail properti real estat',
 'vacat properti real estat',
 'development site real estat',
 'hotel properti real estat',
 'hous real estat',
 'industri properti real estat',
 'land farm real estat',
 'offic properti real estat',
 'real estat buy sell',
 'real estat rent leas',
 'religion spiritu',
 'agnostic religion spiritu',
 'spiritu religion',
 'astrolog religion spiritu',
 'atheism religion spiritu',
 'buddhism religion spiritu',
 'christian religion spiritu',
 'hinduism religion spiritu',
 'islam religion spiritu',
 'judaism religion spiritu',
 'sikhism religion spiritu',
 'scienc',
 'biolog scienc scienc',
 'chemistri scienc',
 'environ scienc',
 'genet scienc',
 'geographi scienc',
 'geolog scienc',
 'physic scienc',
 'space astronomi scienc',
 'weather scienc',
 'shop',
 'coupon discount shop',
 'flower shop',
 'gift greet card shop',
 'groceri shop',
 'holiday shop',
 'household suppli shop',
 'lotteri scratchcard shop',
 'sale promot shop',
 'children game toy shop',
 'sport',
 'american footbal sport',
 'box sport',
 'cheerlead sport',
 'colleg sport',
 'colleg footbal sport',
 'colleg basketbal sport',
 'colleg basebal sport',
 'cricket sport',
 'cycl sport',
 'dart sport',
 'disabl sport',
 'dive sport',
 'equin sport',
 'hors race sport equin',
 'extrem sport',
 'cano kayak sport extrem',
 'climb sport extrem',
 'paintbal sport extrem',
 'scuba dive sport extrem',
 'skateboard sport extrem',
 'snowboard sport extrem',
 'surf bodyboard sport extrem',
 'waterski wakeboard sport extrem',
 'australian rule footbal sport',
 'fantasi sport',
 'field hockey sport',
 'figur skate sport',
 'fish sport',
 'golf sport',
 'gymnast sport',
 'hunt shoot sport',
 'ice hockey sport',
 'inlin skate sport',
 'lacross sport',
 'auto race sport',
 'motorcycl sport auto race',
 'martial art sport',
 'olymp sport',
 'summer olymp sport',
 'winter olymp sport',
 'poker profession gambl sport',
 'rodeo sport',
 'row sport',
 'rugbi sport',
 'rugbi leagu sport',
 'rugbi union sport',
 'sail sport',
 'ski sport',
 'snooker pool billiard sport',
 'soccer sport',
 'badminton sport',
 'softbal sport',
 'squash sport',
 'swim sport',
 'tabl tenni sport',
 'tenni sport',
 'track field sport',
 'volleybal sport',
 'walk sport',
 'water polo sport',
 'weightlift sport',
 'basebal sport',
 'wrestl sport',
 'basketbal sport',
 'beach volleybal sport',
 'bodybuild sport',
 'bowl sport',
 'sport equip',
 'style fashion',
 'beauti style fashion',
 'hair care style fashion beauti',
 'makeup accessori style fashion beauti',
 'nail care style fashion beauti',
 'natur organ beauti style fashion',
 'perfum fragranc style fashion beauti',
 'skin care style fashion beauti',
 'women fashion style',
 'women accessori style fashion',
 'women glass style fashion accessori',
 'women handbag wallet style fashion accessori',
 'women hat scarv style fashion accessori',
 'women jewelri watch style fashion accessori',
 'women cloth style fashion',
 'women busi wear style fashion cloth',
 'women casual wear style fashion cloth',
 'women formal wear style fashion cloth',
 'women intim sleepwear style fashion cloth',
 'women outerwear style fashion cloth',
 'women sportswear style fashion cloth',
 'women shoe footwear style fashion',
 'bodi art style fashion',
 'children cloth style fashion',
 'design cloth style fashion',
 'fashion trend style',
 'high fashion style',
 'men fashion style',
 'men accessori style fashion',
 'men jewelri watch style fashion accessori',
 'men cloth style fashion',
 'men busi wear style fashion cloth',
 'men casual wear style fashion cloth',
 'men formal wear style fashion cloth',
 'men outerwear style fashion cloth',
 'men sportswear style fashion cloth',
 'men underwear sleepwear style fashion cloth',
 'men shoe footwear style fashion',
 'person care style fashion',
 'bath shower style fashion person care',
 'deodor antiperspir style fashion person care',
 'oral care style fashion person',
 'shave style fashion person care',
 'street style fashion',
 'technolog comput',
 'artifici intellig technolog comput',
 'augment realiti technolog comput',
 'comput technolog',
 'comput network technolog comput',
 'comput peripher technolog comput',
 'softwar applic technolog comput comput',
 'graphic technolog comput comput softwar applic',
 'photo edit softwar technolog comput comput applic',
 'sharewar freewar technolog comput comput softwar applic',
 'video softwar technolog comput comput applic',
 'web conferenc technolog comput comput softwar applic',
 'antiviru softwar technolog comput comput applic',
 'browser technolog comput comput softwar applic',
 'comput anim technolog comput softwar applic',
 'databas technolog comput comput softwar applic',
 'desktop publish technolog comput comput softwar applic',
 'digit audio technolog comput comput softwar applic',
 'graphic softwar technolog comput comput applic',
 'oper system technolog comput comput softwar applic',
 'commun',
 'map navig',
 'product',
 'data storag wareh technolog comput',
 'desktop technolog comput',
 'inform network secur technolog comput',
 'internet technolog comput',
 'cloud comput technolog internet',
 'web develop technolog comput internet',
 'web host technolog comput internet',
 'email technolog comput internet',
 'internet beginn technolog comput',
 'internet thing technolog comput',
 'internet support technolog comput',
 'search technolog comput internet',
 'social network technolog comput internet',
 'web design html technolog comput internet',
 'laptop technolog comput',
 'program languag technolog comput',
 'consum electron technolog comput',
 'camera camcord technolog comput consum electron',
 'home entertain system technolog comput consum electron',
 'smartphon technolog comput consum electron',
 'tablet e reader technolog comput consum electron',
 'wearabl technolog comput consum electron',
 'robot technolog comput',
 'virtual augment realiti technolog comput',
 'genr',
 'anim anim genr',
 'soap opera genr',
 'special interest indi art hous genr',
 'famili children genr',
 'comedi genr',
 'drama genr',
 'factual genr',
 'realiti tv genr',
 'scienc fiction genr',
 'action adventur genr',
 'romanc genr',
 'mysteri genr',
 'documentari genr',
 'horror genr',
 'histori genr',
 'lifestyl genr',
 'talk show genr',
 'true crime genr',
 'western genr',
 'fantasi genr',
 'music genr music',
 'holiday genr',
 'natur genr',
 'sport radio genr',
 'talk radio genr',
 'public radio genr talk',
 'biographi genr',
 'young adult genr',
 'televis',
 'music video genr',
 'travel',
 'travel accessori',
 'travel locat',
 'africa travel locat',
 'asia travel locat',
 'australia oceania travel locat',
 'europ travel locat',
 'north america travel locat',
 'polar travel locat',
 'south america travel locat',
 'travel prepar advic',
 'travel type',
 'adventur travel type',
 'famili travel type',
 'honeymoon getaway travel type',
 'hotel motel travel type',
 'rail travel type',
 'road trip travel type',
 'spa travel type',
 'air travel type',
 'beach travel type',
 'bed breakfast travel type',
 'budget travel type',
 'busi travel type',
 'camp travel type',
 'cruis travel type',
 'day trip travel type',
 'video game',
 'consol game video game',
 'esport video game',
 'mobil game video game',
 'pc game video game',

In [126]:
data_IAB_ps_stem2 = pd.DataFrame(data_IAB_ps_stem2, columns =['Porter'])
data_IAB_ps_stem2.head()

                                   Porter
0                                 automot
1                 auto bodi style automot
2  commerci truck automot auto bodi style
3           sedan automot auto bodi style
4   station wagon automot auto bodi style

To create an excel file **IAB_PorterStem.xlsx**

In [127]:
# save an excel file
data_IAB_ps_stem2.to_excel('IAB_PorterStem.xlsx', sheet_name = 'Porter', index= False, freeze_panes=(1,1))

Now, I will do the same **Lancaster stemmer** on **IAB**.

In [128]:
# create the pandas dataframe for Lancaster stemmer
data_IAB_lan_stem = pd.DataFrame(data_IAB_clean, columns = ['Text_IAB'])

In [129]:
data_IAB_lan_stem['Lancaster_stemmed'] = data_IAB_lan_stem['Text_IAB'].apply(lambda x: [lan.stem(y) for y in x])
data_IAB_lan_stem.head(10)

,Text_IAB,Lancaster_stemmed
0,[automotive],[automot]
1,"[auto, body, styles, automotive]","[auto, body, styl, automot]"
2,"[commercial, trucks, automotive, auto, body, styles]","[commerc, truck, automot, auto, body, styl]"
3,"[sedan, automotive, auto, body, styles]","[sed, automot, auto, body, styl]"
4,"[station, wagon, automotive, auto, body, styles]","[stat, wagon, automot, auto, body, styl]"
5,"[suv, automotive, auto, body, styles]","[suv, automot, auto, body, styl]"
6,"[van, automotive, auto, body, styles]","[van, automot, auto, body, styl]"
7,"[convertible, automotive, auto, body, styles]","[convert, automot, auto, body, styl]"
8,"[coupe, automotive, auto, body, styles]","[coup, automot, auto, body, styl]"
9,"[crossover, automotive, auto, body, styles]","[crossov, automot, auto, body, styl]"

In [130]:
# remove 'Full_text_TASK1' and keep just 'stemmed'
data_IAB_lan_stem = data_IAB_lan_stem.drop(columns=['Text_IAB'])
data_IAB_lan_stem.head(10)

                             Lancaster_stemmed
0                                    [automot]
1                  [auto, body, styl, automot]
2  [commerc, truck, automot, auto, body, styl]
3             [sed, automot, auto, body, styl]
4     [stat, wagon, automot, auto, body, styl]
5             [suv, automot, auto, body, styl]
6             [van, automot, auto, body, styl]
7         [convert, automot, auto, body, styl]
8            [coup, automot, auto, body, styl]
9         [crossov, automot, auto, body, styl]

In [131]:
data_IAB_lan_stem2 = data_IAB_lan_stem.squeeze()
data_IAB_lan_stem2

0                                        [automot]
1                      [auto, body, styl, automot]
2      [commerc, truck, automot, auto, body, styl]
3                 [sed, automot, auto, body, styl]
4         [stat, wagon, automot, auto, body, styl]
                          ...
686            [adult, video, gam, gam, gam, genr]
687    [casino, gambl, video, gam, gam, gam, genr]
688             [famy, video, gam, gam, gam, genr]
689              [hor, video, gam, gam, gam, genr]
690              [rac, video, gam, gam, gam, genr]
Name: Lancaster_stemmed, Length: 691, dtype: object

In [132]:
data_IAB_lan_stem2 = [' '.join(tup) for tup in data_IAB_lan_stem2]
data_IAB_lan_stem2

['automot',
 'auto body styl automot',
 'commerc truck automot auto body styl',
 'sed automot auto body styl',
 'stat wagon automot auto body styl',
 'suv automot auto body styl',
 'van automot auto body styl',
 'convert automot auto body styl',
 'coup automot auto body styl',
 'crossov automot auto body styl',
 'hatchback automot auto body styl',
 'microc automot auto body styl',
 'min automot auto body styl',
 'road vehic automot auto body styl',
 'pickup truck automot auto body styl',
 'auto typ automot',
 'budget car automot auto typ',
 'cert pre own car automot auto typ',
 'class car automot auto typ',
 'conceiv car automot auto typ',
 'driverless car automot auto typ',
 'green vehic automot auto typ',
 'luxury car automot auto typ',
 'perform car automot auto typ',
 'car cult automot',
 'dash cam video automot',
 'motorcyc automot',
 'road sid assist automot',
 'scoot automot',
 'auto buy sel automot',
 'auto ins automot',
 'auto part automot',
 'auto recal automot',
 'auto repair automot',
 'auto saf automot',
 'auto show automot',
 'auto technolog automot',
 'auto infotain technolog automot technolog',
 'auto navig system automot technolog',
 'auto saf technolog automot technolog',
 'auto rent automot',
 'book lit',
 'art photograph book lit',
 'com graph novel book lit',
 'fict book lit',
 'poetry book lit',
 'busy fin',
 'busy fin',
 'busy account fin',
 'hum resourc busy fin',
 'larg busy fin',
 'log busy fin',
 'market advert busy fin',
 'sal busy fin',
 'smal med siz busy fin',
 'startup busy fin',
 'busy admin fin',
 'busy bank fin',
 'angel invest busy fin bank',
 'bankruptcy busy fin bank',
 'busy loan fin bank',
 'debt fact invo discount busy fin bank',
 'merg acquisit busy fin bank',
 'priv equ busy fin bank',
 'sal leas back busy fin bank',
 'vent capit busy fin bank',
 'busy fin',
 'busy op fin',
 'consum issu busy fin',
 'recal busy fin consum issu',
 'execut lead man busy fin',
 'govern busy fin',
 'green solv busy fin',
 'busy util fin',
 'econom busy fin',
 'commod busy fin econom',
 'cur busy fin econom',
 'fin cris busy fin econom',
 'fin reform busy fin econom',
 'fin reg busy fin econom',
 'gasolin pric busy fin econom',
 'hous market busy fin econom',
 'interest rat busy fin econom',
 'job market busy fin econom',
 'industry busy fin',
 'advert industry busy fin industry',
 'educ industry busy fin industry',
 'entertain industry busy fin industry',
 'environ serv industry busy fin industry',
 'fin industry busy fin industry',
 'food industry busy fin industry',
 'healthc industry busy fin industry',
 'hospit industry busy fin industry',
 'inform serv industry busy fin industry',
 'leg serv industry busy fin industry',
 'log transport industry busy fin industry',
 'agricult busy fin industry',
 'man consult industry busy fin industry',
 'manufact industry busy fin industry',
 'mech indust engin industry busy fin industry',
 'med industry busy fin industry',
 'met industry busy fin industry',
 'non profit org busy fin industry',
 'pharmaceut industry busy fin industry',
 'pow energy industry busy fin industry',
 'publ industry busy fin industry',
 'real est industry busy fin industry',
 'apparel industry busy fin industry',
 'retail industry busy fin industry',
 'technolog industry busy fin industry',
 'telecommun industry busy fin industry',
 'automot industry busy fin industry',
 'avy industry busy fin industry',
 'biotech biom industry busy fin industry',
 'civil engin industry busy fin industry',
 'construct industry busy fin industry',
 'defens industry busy fin industry',
 'car',
 'appr car',
 'car adv car',
 'car plan car',
 'job search car',
 'job fair car search',
 'resum writ adv car job search',
 'remot work car',
 'voc train car',
 'educ',
 'adult educ',
 'priv school educ',
 'second educ',
 'spec educ',
 'colleg educ',
 'colleg plan educ',
 'postgradu educ colleg',
 'profess school educ colleg postgradu',
 'undergradu educ colleg',
 'ear child educ',
 'educ assess educ',
 'standard test educ educ assess',
 'homeschool educ',
 'homework study educ',
 'langu learn educ',
 'onlin educ',
 'prim educ',
 'ev',
 'award show ev',
 'busy expo conf ev',
 'fan conv ev',
 'holiday',
 'nat civ holiday',
 'attract',
 'amus them park attract',
 'hist sit landmark tour attract',
 'mal shop cent attract',
 'museum gallery attract',
 'nightclub attract',
 'outdo attract act',
 'park attract nat',
 'the venu attract',
 'zoo aquar attract',
 'bar resta attract',
 'casino gambl attract',
 'party supply dec shop',
 'person celebr lif ev',
 'annivers person celebr lif ev',
 'wed person celebr lif ev',
 'baby show person celebr lif ev',
 'bachel party person celebr lif ev',
 'bacheloret party person celebr lif ev',
 'bir person celebr lif ev',
 'birthday person celebr lif ev',
 'fun person celebr lif ev',
 'gradu person celebr lif ev',
 'prom person celebr lif ev',
 'famy rel',
 'bereav famy rel',
 'dat famy rel',
 'divorc famy rel',
 'elderc famy rel',
 'marry civil un famy rel',
 'par famy rel',
 'adopt fost famy rel par',
 'dayc pre school famy rel par',
 'internet saf famy rel par',
 'par baby toddl famy rel',
 'par childr ag famy rel',
 'par teen famy rel',
 'spec nee kid famy rel par',
 'singl lif famy rel',
 'fin art',
 'costum fin art',
 'dant fin art',
 'design fin art',
 'digit art fin art',
 'fin art photograph',
 'modern art fin',
 'oper fin art',
 'the fin art',
 'food drink',
 'alcohol bev food drink',
 'veg diet food drink',
 'veget diet food drink',
 'world cuisin food drink',
 'barbecu gril food drink',
 'cook food drink',
 'dessert bak food drink',
 'din food drink',
 'food allergy drink',
 'food mov drink',
 'healthy cook eat food drink',
 'non alcohol bev food drink',
 'healthy liv',
 'childr heal healthy liv',
 'fit exerc healthy liv',
 'particip sport healthy liv fit exerc',
 'run jog healthy liv fit exerc',
 'men heal healthy liv',
 'nutrit healthy liv',
 'seny heal healthy liv',
 'weight loss healthy liv',
 'wel healthy liv',
 'altern medicin healthy liv wel',
 'herb suppl healthy liv wel altern medicin',
 'hol heal healthy liv wel altern medicin',
 'phys therapy healthy liv wel',
 'smok cess healthy liv wel',
 'wom heal healthy liv',
 'hobby interest',
 'ant ant hobby interest',
 'mag illud hobby interest',
 'model toy hobby interest',
 'mus instru hobby interest',
 'paranorm phenomen hobby interest',
 'radio control hobby interest',
 'sci fi fantasy hobby interest',
 'workshop class hobby interest',
 'art craft hobby interest',
 'beadwork hobby interest art craft',
 'candl soap mak hobby interest art craft',
 'draw sketch hobby interest art craft',
 'jewelry mak hobby interest art craft',
 'needlework hobby interest art craft',
 'paint hobby interest art craft',
 'photograph hobby interest art craft',
 'scrapbooking hobby interest art craft',
 'woodwork hobby interest art craft',
 'beekeep hobby interest',
 'birdwatch hobby interest',
 'cig hobby interest',
 'collect hobby interest',
 'com book hobby interest collect',
 'stamp coin hobby interest collect',
 'cont produc hobby interest',
 'audio produc hobby interest cont',
 'freel writ hobby interest cont produc',
 'screenwriting hobby interest cont produc',
 'video produc hobby interest cont',
 'gam puzzl hobby interest',
 'board gam puzzl hobby interest',
 'card gam hobby interest puzzl',
 'roleplay gam hobby interest puzzl',
 'genealog ancestry hobby interest',
 'hom gard',
 'gard hom gard',
 'remodel construct hom gard',
 'smart hom gard',
 'hom apply gard',
 'hom entertain gard',
 'hom improv gard',
 'hom sec gard',
 'indo environ qual hom gard',
 'intery dec hom gard',
 'landscap hom gard',
 'outdo dec hom gard',
 'med heal',
 'diseas condit med heal',
 'allergy med heal diseas condit',
 'ear nos throat condit med heal diseas',
 'endocrin metabol diseas med heal condit',
 'hormon disord med heal diseas condit endocrin metabol',
 'menopaus med heal diseas condit endocrin metabol',
 'thyroid disord med heal diseas condit endocrin metabol',
 'ey vis condit med heal diseas',
 'foot heal med diseas condit',
 'heart cardiovascul diseas med heal condit',
 'infecty diseas med heal condit',
 'injury med heal diseas condit',
 'first aid med heal diseas condit injury',
 'lung respir heal med diseas condit',
 'ment heal med diseas condit',
 'reproduc heal med diseas condit',
 'bir control med heal diseas condit reproduc',
 'infertil med heal diseas condit reproduc',
 'pregn med heal diseas condit reproduc',
 'blood disord med heal diseas condit',
 'sex heal med diseas condit',
 'sex condit med heal diseas',
 'skin dermatolog med heal diseas condit',
 'sleep disord med heal diseas condit',
 'subst abus med heal diseas condit',
 'bon joint condit med heal diseas',
 'brain nerv system disord med heal diseas condit',
 'cant med heal diseas condit',
 'cold flu med heal diseas condit',
 'dent heal med diseas condit',
 'diabet med heal diseas condit',
 'digest disord med heal diseas condit',
 'med test heal',
 'pharmaceut drug med heal',
 'surgery med heal',
 'vaccin med heal',
 'cosmet med serv heal',
 'entertain',
 'movy entertain',
 'mus entertain',
 'adult contemp mus',
 'soft ac mus adult contemp',
 'urb ac mus adult contemp',
 'adult alb altern mus',
 'altern mus',
 'childr mus',
 'class hit mus',
 'class mus',
 'colleg radio mus',
 'comedy mus audio',
 'contemp hit pop top mus',
 'country mus',
 'dant electron mus',
 'world intern mus',
 'songwrit folk mus',
 'gospel mus',
 'hip hop mus',
 'inspir new ag mus',
 'jazz mus',
 'oldy adult standard mus',
 'regga mus',
 'blu mus',
 'religy mus audio',
 'r b soul funk mus',
 'rock mus',
 'alb ory rock mus',
 'altern rock mus',
 'class rock mus',
 'hard rock mus',
 'soft rock mus',
 'soundtrack tv showtun mus',
 'urb contemp mus audio',
 'vary mus audio',
 'crim',
 'disast',
 'law',
 'polit',
 'elect polit',
 'polit issu policy polit',
 'civ affair polit',
 'war conflict',
 'person fin',
 'consum bank person fin',
 'fin assist person fin',
 'govern support welf person fin fin assist',
 'stud fin aid person fin assist',
 'fin plan person fin',
 'frug liv person fin',
 'ins person fin',
 'heal ins person fin',
 'hom ins person fin',
 'lif ins person fin',
 'mot ins person fin',
 'pet ins person fin',
 'travel ins person fin',
 'person debt fin',
 'credit card person fin debt',
 'hom fin person fin debt',
 'person loan fin debt',
 'stud loan person fin debt',
 'person invest fin',
 'hedg fund person fin invest',
 'mut fund person fin invest',
 'opt person fin invest',
 'stock bond person fin invest',
 'person tax fin',
 'retir plan person fin',
 'hom util person fin',
 'gas elect person fin hom util',
 'internet serv provid person fin hom util',
 'phon serv person fin hom util',
 'wat serv person fin hom util',
 'pet',
 'bird pet',
 'cat pet',
 'dog pet',
 'fish aquar pet',
 'larg anim pet',
 'pet adopt pet',
 'reptil pet',
 'veterin medicin pet',
 'pet supply pet',
 'pop cult',
 'celebr death pop cult',
 'celebr famy pop cult',
 'celebr hom pop cult',
 'celebr pregn pop cult',
 'celebr rel pop cult',
 'celebr scand pop cult',
 'celebr styl pop cult',
 'hum satir pop cult',
 'real est',
 'apart real est',
 'retail property real est',
 'vac property real est',
 'develop sit real est',
 'hotel property real est',
 'hous real est',
 'indust property real est',
 'land farm real est',
 'off property real est',
 'real est buy sel',
 'real est rent leas',
 'relig spirit',
 'agnost relig spirit',
 'spirit relig',
 'astrolog relig spirit',
 'ath relig spirit',
 'buddh relig spirit',
 'christianity relig spirit',
 'hindu relig spirit',
 'islam relig spirit',
 'juda relig spirit',
 'sikh relig spirit',
 'sci',
 'biolog sci sci',
 'chem sci',
 'environ sci',
 'genet sci',
 'geograph sci',
 'geolog sci',
 'phys sci',
 'spac astronom sci',
 'weath sci',
 'shop',
 'coupon discount shop',
 'flow shop',
 'gift greet card shop',
 'grocery shop',
 'holiday shop',
 'household supply shop',
 'lottery scratchcards shop',
 'sal promot shop',
 'childr gam toy shop',
 'sport',
 'am footbal sport',
 'box sport',
 'cheerlead sport',
 'colleg sport',
 'colleg footbal sport',
 'colleg basketbal sport',
 'colleg basebal sport',
 'cricket sport',
 'cyc sport',
 'dart sport',
 'dis sport',
 'div sport',
 'equin sport',
 'hors rac sport equin',
 'extrem sport',
 'cano kayak sport extrem',
 'climb sport extrem',
 'paintbal sport extrem',
 'scub div sport extrem',
 'skateboard sport extrem',
 'snowboard sport extrem',
 'surf bodyboard sport extrem',
 'watersky wakeboard sport extrem',
 'aust rul footbal sport',
 'fantasy sport',
 'field hockey sport',
 'fig skat sport',
 'fish sport',
 'golf sport',
 'gymnast sport',
 'hunt shoot sport',
 'ic hockey sport',
 'inlin skat sport',
 'lacross sport',
 'auto rac sport',
 'motorcyc sport auto rac',
 'mart art sport',
 'olymp sport',
 'sum olymp sport',
 'wint olymp sport',
 'pok profess gambl sport',
 'rodeo sport',
 'row sport',
 'rugby sport',
 'rugby leagu sport',
 'rugby un sport',
 'sail sport',
 'ski sport',
 'snook pool billiard sport',
 'socc sport',
 'badminton sport',
 'softbal sport',
 'squash sport',
 'swim sport',
 'tabl ten sport',
 'ten sport',
 'track field sport',
 'volleybal sport',
 'walk sport',
 'wat polo sport',
 'weightlift sport',
 'basebal sport',
 'wrestl sport',
 'basketbal sport',
 'beach volleybal sport',
 'bodybuild sport',
 'bowl sport',
 'sport equip',
 'styl fash',
 'beauty styl fash',
 'hair car styl fash beauty',
 'makeup access styl fash beauty',
 'nail car styl fash beauty',
 'nat org beauty styl fash',
 'perfum fragr styl fash beauty',
 'skin car styl fash beauty',
 'wom fash styl',
 'wom access styl fash',
 'wom glass styl fash access',
 'wom handb wallet styl fash access',
 'wom hat scarv styl fash access',
 'wom jewelry watch styl fash access',
 'wom cloth styl fash',
 'wom busy wear styl fash cloth',
 'wom cas wear styl fash cloth',
 'wom form wear styl fash cloth',
 'wom intim sleepwear styl fash cloth',
 'wom outerwear styl fash cloth',
 'wom sportswear styl fash cloth',
 'wom sho footwear styl fash',
 'body art styl fash',
 'childr cloth styl fash',
 'design cloth styl fash',
 'fash trend styl',
 'high fash styl',
 'men fash styl',
 'men access styl fash',
 'men jewelry watch styl fash access',
 'men cloth styl fash',
 'men busy wear styl fash cloth',
 'men cas wear styl fash cloth',
 'men form wear styl fash cloth',
 'men outerwear styl fash cloth',
 'men sportswear styl fash cloth',
 'men underwear sleepwear styl fash cloth',
 'men sho footwear styl fash',
 'person car styl fash',
 'bath show styl fash person car',
 'deod antiperspir styl fash person car',
 'or car styl fash person',
 'shav styl fash person car',
 'street styl fash',
 'technolog comput',
 'art intellig technolog comput',
 'aug real technolog comput',
 'comput technolog',
 'comput network technolog comput',
 'comput periph technolog comput',
 'softw apply technolog comput comput',
 'graph technolog comput comput softw apply',
 'photo edit softw technolog comput comput apply',
 'sharew freew technolog comput comput softw apply',
 'video softw technolog comput comput apply',
 'web conf technolog comput comput softw apply',
 'antivir softw technolog comput comput apply',
 'brows technolog comput comput softw apply',
 'comput anim technolog comput softw apply',
 'databas technolog comput comput softw apply',
 'desktop publ technolog comput comput softw apply',
 'digit audio technolog comput comput softw apply',
 'graph softw technolog comput comput apply',
 'op system technolog comput comput softw apply',
 'commun',
 'map navig',
 'produc',
 'dat stor wareh technolog comput',
 'desktop technolog comput',
 'inform network sec technolog comput',
 'internet technolog comput',
 'cloud comput technolog internet',
 'web develop technolog comput internet',
 'web host technolog comput internet',
 'email technolog comput internet',
 'internet begin technolog comput',
 'internet thing technolog comput',
 'internet support technolog comput',
 'search technolog comput internet',
 'soc network technolog comput internet',
 'web design html technolog comput internet',
 'laptop technolog comput',
 'program langu technolog comput',
 'consum electron technolog comput',
 'camera camcord technolog comput consum electron',
 'hom entertain system technolog comput consum electron',
 'smartphon technolog comput consum electron',
 'tablet e read technolog comput consum electron',
 'wear technolog comput consum electron',
 'robot technolog comput',
 'virt aug real technolog comput',
 'genr',
 'anim anim genr',
 'soap oper genr',
 'spec interest indy art hous genr',
 'famy childr genr',
 'comedy genr',
 'dram genr',
 'fact genr',
 'real tv genr',
 'sci fict genr',
 'act adv genr',
 'rom genr',
 'mystery genr',
 'docu genr',
 'hor genr',
 'hist genr',
 'lifestyl genr',
 'talk show genr',
 'tru crim genr',
 'western genr',
 'fantasy genr',
 'mus genr mus',
 'holiday genr',
 'nat genr',
 'sport radio genr',
 'talk radio genr',
 'publ radio genr talk',
 'biograph genr',
 'young adult genr',
 'televid',
 'mus video genr',
 'travel',
 'travel access',
 'travel loc',
 'afric travel loc',
 'as travel loc',
 'austral ocean travel loc',
 'europ travel loc',
 'nor americ travel loc',
 'pol travel loc',
 'sou americ travel loc',
 'travel prep adv',
 'travel typ',
 'adv travel typ',
 'famy travel typ',
 'honeymoon getaway travel typ',
 'hotel motel travel typ',
 'rail travel typ',
 'road trip travel typ',
 'spa travel typ',
 'air travel typ',
 'beach travel typ',
 'bed breakfast travel typ',
 'budget travel typ',
 'busy travel typ',
 'camp travel typ',
 'cru travel typ',
 'day trip travel typ',
 'video gam',
 'consol gam video gam',
 'esport video gam',
 'mobl gam video gam',
 'pc gam video gam',
 'video gam genr gam',
 'act video gam gam gam genr',
 'rol play video gam gam gam genr',
 'sim video gam gam gam genr',
 'sport video gam gam gam genr',
 'strategy video gam gam gam genr',
 'act adv video gam gam gam genr',
 'adv video gam gam gam genr',
 'cas gam video gam gam genr',
 'educ video gam gam gam genr',
 'exerc fit video gam gam gam genr',
 'mmo video gam gam genr',
 'mus party video gam gam gam genr',
 'puzzl video gam gam gam genr',
 'adult video gam gam gam genr',
 'casino gambl video gam gam gam genr',
 'famy video gam gam gam genr',
 'hor video gam gam gam genr',
 'rac video gam gam gam genr']

In [133]:
data_IAB_lan_stem2 = pd.DataFrame(data_IAB_lan_stem2, columns = ['Lancaster'])
data_IAB_lan_stem2.head()

                              Lancaster
0                               automot
1                auto body styl automot
2  commerc truck automot auto body styl
3            sed automot auto body styl
4     stat wagon automot auto body styl

To create an excel file **IAB_LancasterStem.xlsx**

In [134]:
# save an excel file
data_IAB_lan_stem2.to_excel('IAB_LancasterStem.xlsx', sheet_name = 'Lancaster', index= False, freeze_panes=(1,1))

In [135]:
IAB_codes['IAB_Porter'] = data_IAB_ps_stem2['Porter']
IAB_codes.head()

,Name,Unique ID,IAB_clean,IAB_Porter
0,Automotive,1,automotive,automot
1,Auto Body Styles,2,auto body styles automotive,auto bodi style automot
2,Commercial Trucks,3,commercial trucks automotive auto body styles,commerci truck automot auto bodi style
3,Sedan,4,sedan automotive auto body styles,sedan automot auto bodi style
4,Station Wagon,5,station wagon automotive auto body styles,station wagon automot auto bodi style

In [136]:
IAB_codes['IAB_Lancaster'] = data_IAB_lan_stem2['Lancaster']
IAB_codes.head()

,Name,Unique ID,IAB_clean,IAB_Porter,IAB_Lancaster
0,Automotive,1,automotive,automot,automot
1,Auto Body Styles,2,auto body styles automotive,auto bodi style automot,auto body styl automot
2,Commercial Trucks,3,commercial trucks automotive auto body styles,commerci truck automot auto bodi style,commerc truck automot auto body styl
3,Sedan,4,sedan automotive auto body styles,sedan automot auto bodi style,sed automot auto body styl
4,Station Wagon,5,station wagon automotive auto body styles,station wagon automot auto bodi style,stat wagon automot auto body styl

So far the following variables and files have been created:

- **data_cF_stem** is a dataframe of the columnF TASK1
- **data_cF_ps_stem** is a dataframe of the column F TASK1 after the Porter stemming (no words concatenated yet) 
- **data_cF_ps_stem2** is a dataframe of Column F TASK1 with concatenated word after the Porter stemming and its excel file **ColumnF_PorterStem.xlsx**

- **data_cF_lan_stem** is a dataframe of the column F TASK1 after the Lancaster stemming (no words concatenated yet) 
- **data_cF_lan_stem2** is a dataframe of Column F TASK1 with concatenated word after the Lancaster stemming and its excel file **ColumnF_LancasterStem.xlsx**

- **data_cF_cD_ps_stem** is a dataframe of the columns F and D TASK1 after the Porter stemming (no words concatenated yet)
- **data_cF_cD_ps_stem2** is a datafram of the Columns F and D TASK1 with concatenated words after Porter stemming and its excel file is **ColF and ColD_PorterStem.xlsx**

- **data_cF_cD_lan_stem** is a dataframe of the columns F and D TASK1 after the Lancaster stemming (no words concatenated yet)
- **data_cF_cD_lan_stem2** is a datafram of the Columns F and D TASK1 with concatenated words after Lancaster stemming and its excel file is **ColF and ColD_LancasterStem.xlsx**

- **data_ps_stem** is a data frame of the joined columns of TASK1 (clean) after Porter stemming (no words concatenated yet)
- **data_ps_stem2** is a dataframe of the joined columns of TASK1 with concatenated word after the Porter stemming and its excel file **TASK1_PorterStem.xlsx**

- **data_lan_stem** is a data frame of the joined columns of TASK1 (clean) after Lancaster
- **data_lan_stem2** is a dataframe of the joined columns of TASK1 with concatenated word after the Lancaster stemming and its excel file **TASK1_LancasterStem.xlsx**

- **data_IAB_ps_stem** is a data frame of the joined columns of IAB (clean) after Porter stemming (no words concatenated yet) 
- **data_IAB_ps_stem2** is a dataframe of the joined columns of IAB with concatenated words after Porter Stemming and and  excel file **IAB_PorterSem.xlsx**

- **data_IAB_lan_stem** is a data frame of the joined columns of IAB (clean) after Lancaster stemming (no words concatenated yet) 
- **data_IAB_lan_stem2** is a dataframe of the joined columns of IAB with concatenated words after Lancaster Stemming and and  excel file **IAB_LancasterSem.xlsx**

In [ ]:
def show_dataframes(sheet_name):
    df1 = "data['Full_text_TASK1']" + " merge_cells, remove punctuation, NO CONCATENATED words and NO REMOVE STOPWORDS"
    df2 = "data_clean2['Full_text_TASK1']" + " merge_cells, PREPROCESSED, and CONCATENATED words"
    df3 = "data_lan_stem['Lancaster_stemmed']" + " merge_cells, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df4 = "data_lan_stem2['Lancaster']" + " merge_cells, PREPROCESSED, STEMMED and CONCATENATED words"
    df5 = "data_ps_stem['Porter_stemmed']" + " merge_cells, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df6 = "data_ps_stem2['Porter']" + " merge_cells, PREPROCESSED, STEMMED and CONCATENATED words"
    
    df7 = "data_cF['Column F']" + " only ColumnF, remove punctuation, NO CONCATENATED words and NO REMOVE STOPWORDS"
    df8 = "data_cF_clean2['Column F']" + " only ColumnF, PREPROCESSED, and CONCATENATED words"
    df9 = "data_cF_lan_stem['Lancaster_stemmed']" + " only ColumnF, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df10 = "data_cF_lan_stem2['Lancaster']" + " only ColumnF, PREPROCESSED, STEMMED and CONCATENATED words"
    df11 = "data_cF_ps_stem['Porter_stemmed']" + " only ColumnF, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df12 = "data_cF_ps_stem2['Porter']" + " only ColumnF, PREPROCESSED, STEMMED and CONCATENATED words"
    
    df22 = "data_cF_cD_clean['ColF ColD']" + " merge_cells, remove punctuation, NO CONCATENATED words and NO REMOVE STOPWORDS"
    df23 = "data_cF_cD_clean2['ColF ColD']" + " merge_cells, PREPROCESSED, and CONCATENATED words"
    df24 = "data_cF_cD_ps_stem['Porter_stemmed']"+ " only Columns F and D, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df25 = "data_cF_cD_ps_stem2['Porter']" + " only Columns F and D, PREPROCESSED, STEMMED and CONCATENATED words"
    df26 = "data_cF_cD_lan_stem['Lancaster_stemmed']" + " only Columns F and D, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df27 = "data_cF_cD_lan_stem2['Lancaster']" + " only Columns F and D, PREPROCESSED, STEMMED and CONCATENATED words"
    
    df13 = "data_IAB['Text_IAB']" + " merge_cells, remove punctuation, NO CONCATENATED words and NO REMOVE STOPWORDS"
    df14 = "data_IAB_clean2['Text_IAB']" + " merge_cells, PREPROCESSED and CONCATENAED words"
    df15 = "data_IAB_lan_stem['Lancaster_stemmed']" + " merge_cells, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df16 = "data_IAB_lan_stem2['Lancaster']" + " merge_cells, PREPROCESSED, STEMMED and CONCATENATED words"
    df17 = "data_IAB_ps_stem['Porter_stemmed']" + " merge_cells, PREPROCESSED, STEMMED and NO CONCATENATED words"
    df18 = "data_IAB_ps_stem2['Porter']" + " merge_cells, PREPROCESSED, STEMMED and CONCATENATED words"
    
    df19 = "data_NACE['Text_NACE']" + " merge_cells, remove punctuation, NO CONCATENATED words and NO REMOVE STOPWORDS"
    df20 = "data_NACE_clean['Text_NACE']" + " merge_cells, PREPROCESSED, and NO CONCATENATED words"
    df21 = "data_NACE_clean2['Text_NACE']" + " merge_cells, PREPROCESSED, and CONCATENATED words"
    
    if sheet_name == 'TASK1':
        print ('NO CONCATENATED and NO REMOVE STOPWORDS \n')
        print(df1), print(df7), print(df22)
        print ('\n PREPROCESSED and NO CONCATENATED words \n')
        print(df3), print(df5), print(df9), print(df11), print(df24), print(df26)
        print ('\n PREPROCESSED and CONCATENATED words \n')
        print(df2), print(df4), print(df6), print(df8), print(df10), print(df12), print(df23), print(df25), print(df27)
    elif sheet_name == 'IAB':
        print ('NO CONCATENATED and NO REMOVE STOPWORDS \n')
        print(df13)
        print ('\n PREPROCESSED and NO CONCATENATED words \n')
        print(df15), print(df17)
        print ('\n PREPROCESSED and CONCATENATED words \n')
        print(df14), print(df16), print(df18)
    elif sheet_name == "NACE":
        print ('NO CONCATENATED and NO REMOVE STOPWORDS \n')
        print(df19)
        print ('\n PREPROCESSED and NO CONCATENATED words \n')
        print(df20)
        print ('\n PREPROCESSED and CONCATENATED words \n')
        print(df21)
    
   
show_dataframes('TASK1')

## Matching

In [137]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process, utils

Very simple ratio function. using fuzz ratio and fuzz partial ratio.

**Ratio (Simple Ratio)**
When you have a very simple set of strings which look almost similar with their words, you can use the simple ratio from the FuzzyWuzzy package.

**Partial Ratio**
when you wouldn’t like to take into consideration all the small details like stop words, punctuations, capital letters etc., it’s better to use the Partial Ratio. 
When dealing with substrings, i.e., one short string being a part of some other long string, we use the Partial Ratio function. The mechanism of this ratio deals with something known as ‘optimal partial logic’.

In [138]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

The following function **Ratios** gives the ratio and partial ratio. 

**How to get the results in descendt order?**

In [139]:
def Ratios (word, threshold = 50):
    print('%8s %8s %15s %17s %-20s' % ('Ratio', 'Partial_R', 'location', 'description', 'group'))
    for i in range (2, sh_IAB.max_row + 1):
        Ratio = fuzz.ratio(word.lower(), sh_IAB.cell(row = i, column = 1).value.lower())
        Partial_R = fuzz.partial_ratio(word.lower(), sh_IAB.cell(row = i, column = 1).value.lower())
        if Ratio > threshold and Partial_R > threshold:
            location = sh_IAB.cell(row =i , column = 1)
            description = sh_IAB.cell(row = i, column = 1).value
            group = sh_IAB.cell(row = i, column = 4).value
            print('%8d %8d %15s %17s %-20s' % (Ratio, Partial_R, location, description, group))

In [140]:
Ratios('auto')

   Ratio Partial_R        location       description group
      57      100 <Cell 'IAB'.A2>        Automotive Automotive
      62      100 <Cell 'IAB'.A17>         Auto Type Automotive
      57      100 <Cell 'IAB'.A33>        Auto Parts Automotive
      53      100 <Cell 'IAB'.A35>       Auto Repair Automotive
      53      100 <Cell 'IAB'.A36>       Auto Safety Automotive
      57      100 <Cell 'IAB'.A37>        Auto Shows Automotive
      57       75 <Cell 'IAB'.A174>        Graduation Personal Celebrations & Life Events
      53      100 <Cell 'IAB'.A486>       Auto Racing Sports
      60       75 <Cell 'IAB'.A521>            Beauty Style & Fashion
      55       75 <Cell 'IAB'.A601>           Laptops Technology & Computing

In [141]:
Ratios('food', 40)

   Ratio Partial_R        location       description group
      47      100 <Cell 'IAB'.A92>     Food Industry Business and Finance
      50      100 <Cell 'IAB'.A200>      Food & Drink Food & Drink
      44      100 <Cell 'IAB'.A209>    Food Allergies Food & Drink
      44      100 <Cell 'IAB'.A210>    Food Movements Food & Drink
      44       50 <Cell 'IAB'.A493>             Rodeo Sports

In [145]:
Ratios("hardware", 70)

   Ratio Partial_R        location       description group

**process.extract** actually uses WRatio() by default, which is a weighted combination of the four fuzz ratios.
you can manually specify the string comparison function via the scorer argument to extract

- base_ratio: The Levenshtein Distance of two string.
- partial_ratio: The ratio of most similar substring.
- token_sort_ratio: Measure of the sequences' similarity sorting the token before comparing.
- token_set_ratio: Find all alphanumeric tokens in each string.

This is an exercise of process.extract for a single word in the **data_IAB_clean2**. The results give the matched name, the score, and the row location of the dataframe.

In [147]:
test = process.extract('auto', data_IAB_clean2['Text_IAB'], limit = 3)
test

[('automotive', 90, 0),
 ('auto body styles automotive', 90, 1),
 ('suv automotive auto body styles', 90, 5)]

In [148]:
test = process.extract('agriculture farm', data_IAB_ps_stem2['Porter'], limit = 3)
test

[('car cultur automot', 65, 24),
 ('agricultur busi financ industri', 62, 96),
 ('pop cultur', 60, 397)]

In [149]:
test = process.extract('auto', data_IAB_lan_stem2['Lancaster'], limit = 3)
test

[('automot', 90, 0),
 ('auto body styl automot', 90, 1),
 ('sed automot auto body styl', 90, 3)]

it works, but I get a match of each row of df with each element of df2
however, I want only the best 3 options

In [ ]:
'''# example found, and modified, but it did not produce what I was expected
# I got a df with a match for each target word


import pandas as pd
df = pd.DataFrame({"Name" : ["Google","google.inc"]})
df2 = pd.DataFrame({"Name" : ["google","google"]})

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

get_match = []
for row in df.index:
    name1 = []
    name1.append(df.get_value(row,"Name"))
    for columns in df2.index:
        name2 = []
        name2.append(df2.get_value(columns,"Name") )
        matched_token=[process.extract(x, name2, limit=3)[0][1] for x in name1]
        get_match.append([matched_token, name1[0], name2[0]])
df_maneet = pd.DataFrame({'name1': [i[1] for i in get_match], 'name2':[i[2] for i in get_match], 'Ratio': [i[0][0] for i in get_match]})'''

In [ ]:
df = data_cF_clean2['Column F']
df2 = data_IAB_clean2['Text_IAB']

In [ ]:
get_match = []
for row in df.index:
    name1 = []
    name1.append(df._get_value(row,"Column F"))
    for columns in df2.index:
        name2 = []
        name2.append(df2._get_value(columns,"Name") )
        matched_token=[process.extract(x, name2, limit=3)[0][1] for x in name1]
        get_match.append([matched_token, name1[0], name2[0]])
df_output_all = pd.DataFrame({'name1': [i[1] for i in get_match], 'name2':[i[2] for i in get_match], 'Ratio': [i[0][0] for i in get_match]})

In [ ]:
df_output_all

In [ ]:
df_output_all.to_excel('First_match.xlsx', sheet_name = 'Test', index= False, freeze_panes=(1,1))

In [ ]:
def get_all_match_score(df1, df2):
    '''
    this function is not working with dataframes NO concatenated.
    The function provides an score match of each word in df1 with df2.
    
    df1 is the dataframe were are the words to be matched, ie data_cF_clean2['Column F']
    df2 is the dataframe that contains the strings to compare for the matching ie data_IAB_clean2['Text_IAB']
    df_output_name is the output dataframe of this function'''
    
    get_match = []
    for row in df1.index:
        name1 = []
        name1.append(df1._get_value(row,"Column F"))
        for columns in df2.index:
            name2 = []
            name2.append(df2._get_value(columns,"Name") )
            matched_token=[process.extract(x, name2, limit=3)[0][1] for x in name1]
            get_match.append([matched_token, name1[0], name2[0]])
    df_output = pd.DataFrame({'Word to be matched': [i[1] for i in get_match], 'Target words':[i[2] for i in get_match], 'Score': [i[0][0] for i in get_match]})
    return df_output

In [ ]:
get_all_match_score(data_cF_ps_stem2['Porter'], data_IAB_ps_stem2['Porter'])

In [ ]:
show_dataframes('IAB')

In [ ]:
df = data_cF_lan_stem2
df2 = data_IAB_lan_stem2

In [ ]:
df.head() , df2.head()

This is how I created the matching that gives the 3 best options, using the following two examples code and modified

In [ ]:
'''
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
  
# creating the dictionaries
dict1 = {'name': ["mango", "coco", "choco", "peanut", "apple"]}
dict2 = {'name': ["mango fruit", "coconut", "chocolate",
                  "mangoes", "chocos", "peanuts", "appl"]}
  
# converting to pandas dataframes
dframe1 = pd.DataFrame(dict1)
dframe2 = pd.DataFrame(dict2)
  
# empty lists for storing the matches later
mat1 = []
mat2 = []
p = []
  
# printing the pandas dataframes
print("First dataframe:\n", dframe1, 
      "\nSecond dataframe:\n", dframe2)
  
# converting dataframe column to list
# of elements
# to do fuzzy matching
list1 = dframe1['name'].tolist()
list2 = dframe2['name'].tolist()
  
# taking the threshold as 82
threshold = 82
  
# iterating through list1 to extract 
# it's closest match from list2
for i in list1:
    mat1.append(process.extract(i, list2, limit=2))
dframe1['matches'] = mat1
  
# iterating through the closest matches
# to filter out the maximum closest match
for j in dframe1['matches']:
    for k in j:
        if k[1] >= threshold:
            p.append(k[0])
    mat2.append(",".join(p))
    p = []
  
  
# storing the resultant matches back to dframe1
dframe1['matches'] = mat2
print("\nDataFrame after Fuzzy matching:")
dframe1
'''

In [ ]:
def get_3best_match(dframe1, dframe2, threshold = 80):
    # dframe1 = data_cF_clean2['Column F']
    # dframe2 = data_IAB_clean2['Text_IAB']
    
    # empty lists for storing the matches later
    mat1 = []
    mat2 = []
    # print dataframes.head()
    print('DataFrame1 is:\n', dframe1.head(), '\nDataFrame2:\n', dframe2.head())
    
    # convert df to list of elements to do fuzzy matching
    list1 = dframe1.values.tolist()
    list2 = dframe2.values.tolist()
    
    # iterating through list 1 to extract the closest matches from list 2
    for i in list1:
        mat1.append(process.extract(i, list2, limit=3))
    first_match = []
    for i in range(0,len(dframe1)):
        temp = pd.DataFrame({'first match'})
        if mat1[i][0][1] > threshold:
            first_match.append(mat1[i][0])
        else:
            first_match.append(' ')
    second_match = []
    for i in range(0,len(dframe1)):
        temp = pd.DataFrame({'second match'})
        if mat1[i][1][1] > threshold:
            second_match.append(mat1[i][1])
        else:
            second_match.append(' ')
    third_match = []
    for i in range(0,len(dframe1)):
        temp = pd.DataFrame({'third match'})
        if mat1[i][2][1] > threshold:
            third_match.append(mat1[i][2])
        else:
            third_match.append(' ')
    matches = pd.DataFrame({'Word to match': dframe1, 'First match': first_match, 'Second match': second_match, 'Third match': third_match})
    return matches

DataFrame usando preprocessed colF and preprocessed IAB **cF_IAB**

In [ ]:
cF_IAB = get_3best_match(data_cF_clean2['Column F'],data_IAB_clean2['Text_IAB'])
cF_IAB.head(40)

DataFrame matching preprocessed Porter stem colF and preprocessed IAB **cFps_IAB**

In [ ]:
cFps_IAB = get_3best_match(data_cF_ps_stem2['Porter'],data_IAB_clean2['Text_IAB'])
cFps_IAB.head(20)

DataFrame matching preprocessed Lancaster stem colF and preprocessed IAB **cFlan_IAB**

In [ ]:
cFlan_IAB = get_3best_match(data_cF_lan_stem2['Lancaster'],data_IAB_clean2['Text_IAB'])
cFlan_IAB.head(20)

DataFrame matching preprocessed Porter stemmed colF  and preprocessed Poster stemmed IAB **cFps_IABps**

In [ ]:
cFps_IABps = get_3best_match(data_cF_ps_stem2['Porter'],data_IAB_ps_stem2['Porter'])
cFps_IABps.head(20)

DataFrame matching preprocessed Lancaster stemmed colF  and preprocessed Lancaster stemmed IAB **cFlan_IABlan**

In [ ]:
cFlan_IABlan = get_3best_match(data_cF_lan_stem2['Lancaster'], data_IAB_lan_stem2['Lancaster'])
cFlan_IABlan.head(20)

DataFrame matching preprocessed full_TASK1 and preprocessed IAB   cF_IAB **TASK1_IAB**

In [ ]:
TASK1_IAB = get_3best_match(data_clean2['Full_text_TASK1'], data_IAB_clean2['Text_IAB'])
TASK1_IAB.head(20)

DataFrame matching preprocessed full_TASK1 Porter stemmed  and preprocessed IAB  **TASK1ps_IAB**

In [ ]:
TASK1ps_IAB = get_3best_match(data_ps_stem2['Porter'], data_IAB_clean2['Text_IAB'])
TASK1ps_IAB.head(20)

DataFrame matching preprocessed full_TASK1 Lancaster stemmed and preprocessed IAB **TASK1lan_IAB**

In [ ]:
TASK1lan_IAB = get_3best_match(data_lan_stem2['Lancaster'] , data_IAB_clean2['Text_IAB'])
TASK1lan_IAB.head(20)

DataFrame matching preprocessed full_TASK1 Porter stemmed and preprocessed Poster stemmed IAB **TASK1ps_IABps**

In [ ]:
TASK1ps_IABps = get_3best_match(data_ps_stem2['Porter'] , data_IAB_ps_stem2['Porter'])
TASK1ps_IABps.head(20)

DataFrame matching preprocessed full_TASK1 Lancaster stemmed   and preprocessed Lancaster stemmed IAB **TASK1lan_IABlan**

In [ ]:
TASK1lan_IABlan = get_3best_match(data_lan_stem2['Lancaster'] , data_IAB_lan_stem2['Lancaster'])
TASK1lan_IABlan.head(20)

Dataframe matching preprocessed cF and cD columns of TASK1 and preprocessed IAB  **cFcD_IAB**

In [ ]:
cFcD_IAB = get_3best_match(data_cF_cD_clean2['ColF ColD'] , data_IAB_clean2['Text_IAB'], threshold = 70)
cFcD_IAB.head(20)

Dataframe matching preprocessed cF and cD columns of TASK1 w/Porter and preprocess IAB  **cFcDps_IAB**

In [ ]:
cFcDps_IAB = get_3best_match(data_cF_cD_ps_stem2['Porter'] , data_IAB_clean2['Text_IAB'], threshold = 70)
cFcDps_IAB.head(20)

 Dataframe matching preprocessed cF and cD columns of TASK1 w/Lancaster and preprocess IAB  **cFcDlan_IAB**

In [ ]:
cFcDlan_IAB = get_3best_match(data_cF_cD_lan_stem2['Lancaster'] , data_IAB_clean2['Text_IAB'], threshold = 70)
cFcDlan_IAB.head(20)

I will save several dataframes into an excel file for further analysis on excel.

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('TASK1_analysis.xlsx', engine='xlsxwriter')

In [ ]:
# Write each dataframe to a different worksheet. 

cF_IAB.to_excel(writer, sheet_name='cF_IAB', index= False, freeze_panes=(1,1))
cFps_IAB.to_excel(writer, sheet_name='cFps_IAB', index= False, freeze_panes=(1,1))
cFlan_IAB.to_excel(writer, sheet_name='cFlan_IAB', index= False, freeze_panes=(1,1))
cFps_IABps.to_excel(writer, sheet_name='cFps_IABps', index= False, freeze_panes=(1,1))
cFlan_IABlan.to_excel(writer, sheet_name='cFlan_IABlan', index= False, freeze_panes=(1,1))
TASK1_IAB.to_excel(writer, sheet_name='TASK1_IAB', index= False, freeze_panes=(1,1))
TASK1ps_IAB.to_excel(writer, sheet_name='TASK1ps_IAB', index= False, freeze_panes=(1,1))
TASK1lan_IAB.to_excel(writer, sheet_name='TASK1lan_IAB', index= False, freeze_panes=(1,1))
TASK1ps_IABps.to_excel(writer, sheet_name='TASK1_IAB', index= False, freeze_panes=(1,1))
TASK1lan_IABlan.to_excel(writer, sheet_name='TASK1_IAB', index= False, freeze_panes=(1,1))
IAB_codes.to_excel(writer, sheet_name = 'IAB_codes', index= False, freeze_panes=(1,1))

writer.save()

In [ ]:
IAB_codes.head()

I will save another excel file for doing an analysis using cols F and D of TASK1 agains IAB (full text)

In [ ]:
# another file with multiple sheets to be created
writer = pd.ExcelWriter('ColF and ColD TASK1_analysis.xlsx', engine='xlsxwriter')
cFcD_IAB.to_excel(writer, sheet_name='cFcD_IAB', index= False, freeze_panes=(1,1))
cFcDps_IAB.to_excel(writer, sheet_name='cFcDps_IAB', index= False, freeze_panes=(1,1))
cFcDlan_IAB.to_excel(writer, sheet_name='cFcDlan_IAB', index= False, freeze_panes=(1,1))
writer.save()

### search function

This is simple function to locate a word in the IAB sheet.

In [11]:
def search(word):
    sheet = sh_IAB
    # NACE = sh_NACE
    rows = sheet.max_row  
    print('Finding for: {}'.format(word))
    print('%8s %8s %8s %20s %25s %25s' % 
         ('Start', 'End', 'Code', 'Location', 'Description', 'Group'))
    for i in range(2, rows):
        search = re.search(word.lower(), sheet.cell(row=i,column=1).value.lower())
        if search != None:
            code = sheet.cell(row=i, column=2).value
            location = sheet.cell(row=i, column=1)
            group = sheet.cell(row=i, column=4).value
            description = sheet.cell(row=i, column=1).value
            print('%8d %8d %8s %20s %25s %25s' % 
                 (search.start(), search.end(), code, location, description, group))

In [12]:
search('shop')

Finding for: shop
   Start      End     Code             Location               Description                     Group
       8       12      154    <Cell 'IAB'.A155>  Malls & Shopping Centers               Attractions
       4        8      247    <Cell 'IAB'.A237>     Workshops and Classes       Hobbies & Interests
       0        4      473    <Cell 'IAB'.A441>                  Shopping                  Shopping
       7       11      475    <Cell 'IAB'.A443>           Flower Shopping                  Shopping
       8       12      477    <Cell 'IAB'.A445>          Grocery Shopping                  Shopping
       8       12      478    <Cell 'IAB'.A446>          Holiday Shopping                  Shopping

### synonym function

Simple function, to find synonyms (I did not manage to embedded into a matching code, several tries)

from nltk.corpus import wordnet

def syn(word):
    #creating a list
    synonyms = []
    for syn in wordnet.synsets(word):
        for lm in syn.lemmas():
            synonyms.append(lm.name())
    print(set(synonyms))
    
syn('paradise')

Here a code that I tried to use to apply in get match functions. It did not work with the changes I applied.

In [ ]:
'''
# example token and synonym

import nltk
import pandas as pd
import string

sdf = pd.read_excel('C:\synonyms.xlsx')
sd = sdf.apply(lambda x: x.astype(str).str.lower())
words = 'i drove to office everyday in my car'

#######

def tokenize(text):
    text = ''.join([ch for ch in text if ch not in string.punctuation])
    tokens = nltk.word_tokenize(text)
    synonym = synonyms(tokens)
    return synonym

def synonyms(words):
    for word in words:
        if(sd[sd['Word'] == word].index.tolist()):
            idx = sd[sd['Word'] == word].index.tolist()
            word = sd.loc[idx]['Synonyms'].item()
        else:
            word
    return word

print(tokenize(words))
'''

below a code I tried to apply on colF of TASK1 to obtain synonyms, I did not work on cells with more than one word. Some issues with the set, and data frames.

In [ ]:
'''

this is not working
cF_syn = pd.DataFrame()   #also I tried cF_syn=[]   
for i in range(0, sh.max_row-1):
    cF_syn = cF_syn.append(syn(data_cF_clean[i]))
    #cF_syn = cF_syn.append({'cF synonyms': syn(data_cF_clean2._get_value(i, 'Column F'))}, ignore_index = True)
    #cF_syn = cF_syn.append({'cF synonyms': syn(data_cF_clean[i])}, ignore_index = True)
    
 '''

This funciton works and returns a dataframe, it is possible to select how many options do we want, however, if more than one is selected is complicated to evaluate to which word correspond. Also it does not work on more than two words.
Additionally, I tried to use a DataFrame of not concatenated words, and it did not run.

In [13]:
from itertools import chain

def get_synonyms(df, column_name, N):
    L = []
    for i in df[column_name]:
        syn = wordnet.synsets(i)
        #flatten all lists by chain, remove duplicates by set
        lemmas = list(set(chain.from_iterable([w.lemma_names() for w in syn])))
        for j in lemmas[:N]:
            #append to final list
            L.append([i, j])
    #create DataFrame
    return (pd.DataFrame(L, columns=['word','syn']))

In [14]:
get_synonyms(data_cF_clean2, 'Column F', 1).head(10)

NameError: name 'data_cF_clean2' is not defined

### Some thoughts about TASK1 analysis

About the matching:
The fuzzywuzzy library was used, and specifically the proccess.extract function, which consider 4 scenarios (check info above), and I extracted the three best matches. Initially, I did use a threshold of 82, but several rows were empty, and I decided to run the function for several scenarios with threshold of 70.

On the different scenarios, I did metrics to obtain how many rows got a good match (i mean it was important to get the best matching options on each row, but not in all cases the results did make sense). for the several assessed cases.  

My findings show the use of stemming on the IAB is innecesary, it does not give extra value. Therefore, it is not recommended apply stemming on IAB or NACE (for further analysis -TASK2-).

The stemming used on the word to match (TASK1 sheet) was Porter and Lancaster. Lancaster is a more aggresive stemmer and might produce more matches, but because the word is abruptily cut the matches are not asertive. Therefore, a Porter stemming, more conservative approach, is a better option here.

Tested cases:
- ColF of TASK1 and IAB (merge A, D and E columns). The dataFrames were preprocessed ("clean": remove punctuation, digits, stopwords, etc) and no stemming.
- ColF of TASK1 with Porter stemming and IAB (merge A, D and E columns).
- ColF of TASK1 with Lancaster stemming and IAB (merge A, D and E columns).
- ColF of TASK1 with Porter stemming and IAB (merge A, D and E columns) with Porter stemming.
- ColF of TASK1 with Lancaster stemming and IAB (merge A, D and E columns) with Lancaster stemming.
- TASK1 (merge of F, D and H columns) and IAB (merge A, D and E columns).
- TASK1 (merge of F, D and H columns) with Porter stemming and IAB (merge A, D and E columns).
- TASK1 (merge of F, D and H columns) with Lancaster stemming and IAB (merge A, D and E columns).
- etc

The two best matching case correspond to the use of **colF** and **IAB** (IAB is a merge of A, D and E, with not duplicates) with and without Porter stemming. 67 lines of 144 got a correct match, this is equal to **47-48%**. Note: the results are on the same row lines.

The second matching case is using **all columns of TASK1** and **IAB** (IAB is a merge of A, D and E columns) without stemming  (it was not assessed stemming here, since not big changes were seen in previous cases). 65 lines of 144 got a correct match, this is **45%**.

Working together these two cases we got a 94 lines of 144, that represents **65%**.

Around 40% were not picked up for any matching cases, which implies a manual work on them.

In [ ]:
search('seaward')

In [25]:
from nltk.corpus import wordnet

def syn(word):
    # synonym function
    # creating a list
    synonyms = []
    for syn in wordnet.synsets(word):
        for lm in syn.lemmas():
            synonyms.append(lm.name())
    return synonyms

In [27]:
syn("treaty")

['treaty', 'pact', 'accord']